<table align="left" cellpadding="0" cellspacing="0">
	<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Adicionar Loja
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;</td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
	<form name="cadastro_loja" enctype="multipart/form-data" action="##ACTION##" method="post" onsubmit="return validarCadastroLoja();">
    
	<tr>
		<td width="50">
			Nome:
		</td>
		<td colspan="2" >
			<input class="label" type="text" name="nome" size="63" maxlength="50" value="" />
		</td>
	</tr>
	<tr>
		<td width="50">
			Localização:
		</td>
		<td colspan="2">
			<input class="label" type="text" name="localizacao" size="63" maxlength="50" value="" />
		</td>
	</tr>
	<tr>
		<td width="50">
			Telefone:
		</td>
		<td colspan="2">
			<input class="label" type="text" name="telefone" size="18" maxlength="14" value="" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" />
		</td>
	</tr>	
	<tr>
		<td width="50">
			Email:
		</td>
		<td colspan="2">
			<input class="label" type="text" name="email" size="63" maxlength="50" value="" />
		</td>
	</tr>
	<tr>
		<td width="50">
			Site:
		</td>
		<td colspan="2">
			<input class="label" type="text" name="site" size="63" maxlength="50" value="" />
		</td>
	</tr>
	<tr>
		<td width="50">
			Palavras-chave:
		</td>
		<td colspan="2">
			<input class="label" type="text" name="palavras_chave" size="63" maxlength="50" value="" />
		</td>
	</tr>

	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td width="50">
			Foto:
		</td>
		<td colspan="2">
			##UPLOAD_FOTO## <font size="1" color="#990000">(imagem na proporção 4:3)</font>
		</td>
	</tr>
	<tr>
		<td width="50">
			Logomarca:
		</td>
		<td colspan="2">
			##UPLOAD_LOGO##
		</td>
	</tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
    	<td colspan="3">
        	<table width="100%">
            	<tr>
                	<td>
                        <fieldset style="width:460px;height:200px;">
                            <legend align="left" style="margin-left:5px;">Selecione Atividade e Sub atividade:</legend>
                            <div style="width:100%;height:100%;">
                                <div style="margin-top:20px;margin-left:10px;height:20%;">
                                    Atividade:<span style="padding-left:30px;"> ##CATEGORIAS##</span>
                                </div>
                                <div id="subcategoria" style="display:none;margin:0 0 0 130px">
                                     
                                </div>
                            </div>
                        </fieldset>
					</td>
                    <td style="width:50px;height:200px;vertical-align:middle;text-align:center;">
                        <input type="button" value=">>" id="add"  disabled="true" onclick="appendOptionLast('selecionados',getOptionName('select_categoria')+' / '+  getOptionName('select_subcategoria'),document.getElementById('select_subcategoria').value)" /><br />
                        <input type='button' value='<<' id='desAdd' disabled='true' onclick="removeOptionSelected('selecionados'); if(selecionados.options.length==0){document.getElementById('desAdd').disabled=1}" />
					</td>
                    <td>
                        <fieldset style="width:500px;height:200px;">
                            <legend align="left" style="margin-left:5px;">Atividades / Sub atividades selecionadas;</legend>
                            <div style="padding-top:0px;">
                         		<select multiple="multiple" name="selecionados[]" style="border:none; width:100%;height:165px;margin:15px 0 0 0;padding:0px;" id="selecionados" ></select>
                            </div>
                        </fieldset>
					</td>
    			</tr>
			</table>
        </td>
    </tr>
	<tr>
		<td colspan="3" align="center"><br />
			<input class="botao_limpar" type="reset" name="limpar" value="" />
			<input class="botao_ok" type="submit" name="submit" value="" />
		</td>
	</tr>
	</form>
</table>