<script>
/* #### funcoes utilzadas na busca do cep ### */
function buscaCEP(cep,apelido,nome){
	url = 'cadastro_cliente.php?cep='+cep+'';
	if(apelido != "") url += '&apelido='+apelido+'';
	if(nome != "") url += '&nome='+nome+'';
	window.location.href = url;
}
function carregando(){      
    document.getElementById('carregando').style.display='inline';
}
/* #############################################*/
</script>
<table cellpadding="0" cellspacing="0" border="0" align="left">
<form name="cadastro" action="##ACTION##" method="post" onsubmit="return validarCamposCadastroCliente();">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Adicionar Cliente
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
</table>
<br><br>
<table class="tabela_cadastro" cellpadding="0" cellspacing="0" border="0" align="left">             
                 <tr>
					<td valign="bottom">Apelido:</td>
                    <td><input class="label" size="63" type="text" name="apelido" value="##APELIDO##" ></td>
				</tr>
                <tr>
                	<td valign="bottom">
						Nome Completo:        
					</td>
					<td><input class="label" size="63" type="text" name="nome" value="##NOME##" ></td>
				</tr>
                <tr>
					<td>Rg:</td>
					<td><input type="text" name="rg" value="" maxlength="15" size="15" class="label"  onKeyPress="return digitos(event, this);"></td>
				</tr>
                <tr>
					<td>Cpf:</td>
                    <td><input class="label" type="text" name="cpf" size="15" maxlength="15" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CPF',this,event);" ></td>
               </tr>
                <tr>
                	<td valign="bottom">Cep:</td>
                	<td><input class="label" type="text" size="15" name="cep" value="##CEP##" maxlength="9" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CEP',this,event);" onblur="javascript:carregando();buscaCEP(document.cadastro.cep.value,document.cadastro.apelido.value,document.cadastro.nome.value);" ></td>
                    <td>
						<div id="carregando" style="display:none;" ><img src="../images/loading.gif" /></div>
					</td>
                </tr>
                <tr>
                	<td valign="bottom">Endere&ccedil;o:</td>
					<td><input class="label" type="text" size="63" name="endereco" value="##ENDERECO##" ></td>
				</tr>
                <tr>
                	<td valign="bottom">Complemento:</td>
					<td><input class="label" type="text" size="63" name="complemento">        
					</td>
				</tr>
                <tr>
                	<td valign="bottom">Bairro:</td>
					<td><input class="label" type="text" name="bairro" value="##BAIRRO##" ></td>
				</tr>
                
                <tr>
                	<td valign="bottom">Cidade:</td>
 					<td><input class="label" type="text" size="63" name="cidade" value="##CIDADE##" ></td>
				</tr>
                
                <tr>
                	<td valign="bottom">Estado:</td>
					<td>##ESTADOS##</td>
				</tr>
                               
                <tr>
                	<td valign="bottom">Telefone:</td>
                    <td><input class="label" type="text" name="telefone" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" ></td>
                </tr>
                <tr>
                	<td valign="bottom">Telefone 2:</td>
					<td><input class="label" type="text" name="telefone2" id="telefone2" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" ></td>
				</tr>
                <tr>
					<td>Celular:</td>
					<td><input class="label" type="text" name="celular" id="celular" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" ></td>
				</tr>
                <tr>
					<td>Email:</td>
                    <td><input class="label" type="text" size="63" name="email" value="" ></td>
				</tr>
	
               <tr>
                    <td>Data de Nascimento:</td>
                    <td class="txtmusgo" ><input class="label" type="text" name="data" value="" maxlength="10" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('DATA',this,event);" ></td>
			  </tr>
              <tr>
                    <td>Profiss&atilde;o:</td>
                    <td>##PROFISSAO##</td>
				<tr>
				<tr>
                    <td>Sexo:</td>
                    <td>
                    	<input style="margin:0 0 0 6px" type="radio" checked="checked" name="sexo" value="m" > M
                        <input type="radio" name="sexo" value="f" > F 
                    </td>
				</tr>           
                <tr>
					<td>Estado Civil:</td>
					<td>
						<input style="margin:0 0 0 6px" type="radio" checked="checked" name="estado_civil" value="solteiro" > Solteiro
                        <input type="radio" name="estado_civil" value="casado" > Casado
                        <input type="radio" name="estado_civil" value="divorciado/desquitado" > Divorciado/Desquitado
                        <input type="radio" name="estado_civil" value="outro" > Vi&uacute;vo
					</td>
				</tr>
				<tr>
                    <td>Grau de escolaridade:</td>
                    <td>
                    	<input style="margin:0 0 0 6px" type="radio" checked="checked" name="escolaridade" value="Ensino Fundamental" >Ensino Fundamental
                        <input type="radio" name="escolaridade" value="Ensino Medio" >Ensino M&eacute;dio
                        <input type="radio" name="escolaridade" value="Ensino Superior" >Ensino Superior 
                    </td>
				</tr>  
                <tr>
                	<td>&nbsp;</td>
                	<td><input style="margin:0 0 0 6px;" checked="checked" type="radio" name="statusEscolaridade" value="Completo" >Completo<input type="radio" name="statusEscolaridade" value="incompleto" >Incompleto</td>
                </tr>
                
					<td colspan="4" align="right"><br />
						<input class="botao_limpar" type="reset" name="limpar" value=""  />
                		<input class="botao_ok" type="submit" name="submit" value=""/>
            		</td>
				</tr>
   </form>      
</table>
    	