<table align="left" cellpadding="0" cellspacing="1">
<form name="imagens_eventos" action="##ACTION##" method="post" >
##HIDDEN##
	    
    <tr class='tr_tit txt_tit'>
	  <td class="td_tit" colspan="10" style="border:1px solid #0b333c">
      	Evento: ##NOME_EVENTO##
      </td>
	</tr>
    
   ##CAMPOS##
   
   <!--<tr>
   	<td><br />
    	<input type="checkbox" name="todas" value="todas" />todas
   	</td>
   </tr>-->
   
   <tr>
        <td colspan="10" align="center"><br />
            <input type="submit" name="submit" value="Excluir" />
        </td>
   </tr>
  </form>
</table>