<div id="container" >

    <table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0" >	
        <tr class='tr_tit txt_tit'>
          <td class="td_tit" ><b>Produto</b></td>
          <td class="td_tit" ><b>Total</b></td>  
          <td class="td_tit" ><b>Campanha</b></td>
        </tr>  
       ##CAMPOS##       
       <tr height="5"><td colspan='6' ></td></tr>
    </table>
    <div id='pag_3' style="text-align:right;padding-right:20px;display:none;">
        ##PAGINACAO##
    </div>
</div>