<table align="left" cellpadding="0" cellspacing="0">
<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Adicionar Fornecedor
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
	<form name="cadastro" action="##ACTION##" method="post" onsubmit= "return validarCamposFornecedor();">
   <!-- <tr><td>&nbsp;</td></tr>-->
   
   
        <tr>
            <td>
                Nome:
            </td>
            <td>
                <input class="label" type="text" name="nome" size="63" maxlength="50" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Telefone:
            </td>
            <td>
                <input class="label" type="text" name="telefone" size="14" maxlength="14" value="" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" />
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input class="label" type="text" name="email" size="63" maxlength="50" value="" />
            </td>
        </tr>	
        <tr>
            <td>
                Contato:
            </td>
            <td>
                <input class="label" type="text" name="contato" size="50" maxlength="50" value="" />
            </td>
        </tr>
        <tr>
            <td colspan="4" align="right"><br />
				<input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""/>
            </td>
            
        </tr>
	</form>
</table>