<table align="left" cellpadding="0" cellspacing="0">
<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Editar Novidade
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
	<form id="form-novidade" name="novidade" enctype="multipart/form-data" action="##ACTION##" method="post">
  	##HIDDEN##
		<tr>
            <td>&nbsp;
                
            </td>
            <td>
                <!--<input type="checkbox" ##CHECK_DESTAQUE## name="homeDestaque" value="1" /> 
                Exibir no box destaque da home-->
                <input type="checkbox" ##CHECK_NOVIDADE## name="homeNovidade" value="1" />
                Exibir no box novidade da home
            </td>
        </tr>
        <tr>
            <td>
                Nome:
            </td>
            <td>&nbsp;&nbsp;&nbsp;<font size="1" color="#990000">O nome será exido tanto no box da home quanto na página de detalhes como link.</font><br />
                <input class="label" type="text" name="nome" size="73" value="##NOME##" />
            </td>
        </tr>
        <tr>
            <td>
                Título:
            </td>
            <td>&nbsp;&nbsp;&nbsp;<font size="1" color="#990000">O título será exido tanto no box da home quanto na página de detalhes.</font><br />  
                <input class="label" type="text" name="titulo" size="73" value="##TITULO##" />
            </td>
        </tr>
        <tr>
            <td>
                Descrição:
            </td>
            <td>&nbsp;&nbsp;&nbsp;<font size="1" color="#990000">Esta descrição será exida no box da home.</font><br />  
                <input class="label" type="text" name="descricao" size="73" maxlength="110" value="##DESCRICAO##" />
            </td>
        </tr>
        <tr>
            <td>
                Data Início: 
            </td>
            <td>
                <input class="label" type="text" name="data_inicio" value="##DATA_INICIO##" readonly >
				<span style="vertical-align:bottom;"><img src="../admin/images/ico_calendario.gif" border="0" alt="calendario" onClick="displayCalendar(document.novidade.data_inicio,'dd/mm/yyyy hh:ii',this,true)" /></span>
				<div id="debug"></div>
            </td>
        </tr>
        <tr>
            <td>
                Data Fim:
            </td>
            <td>
                <input class="label" type="text" name="data_fim" value="##DATA_FIM##" readonly>
				<span style="vertical-align:bottom;"><img src="../admin/images/ico_calendario.gif" alt="calendario" onClick="displayCalendar(document.novidade.data_fim,'dd/mm/yyyy hh:ii',this,true)" /></span>
				<div id="debug"></div>
            </td>
        </tr>
        <tr>
            <td>
                Imagem:
            </td>
            <td>&nbsp;&nbsp;
            <font size="1" color="#990000">Esta imagem será exida no box da home (303 x 142).</font><br />        ##UPLOAD_IMAGEM## <br />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><br />
                &nbsp;&nbsp; ##IMAGEM## <br /> &nbsp;&nbsp; ##EXCLUIR_IMAGEM## <br />
            </td>
        </tr>
		<tr>
            <td valign="top">
                Conteúdo:
            </td>
            <td style="padding-left:10px;"><font size="1" color="#990000">O contéudo será o corpo da página de detalhes, podendo adicionar outra imagem com largura máxima de 380px.</font><br />
               

            <textarea id="conteudo" name="conteudo" cols="60" rows="10" >
            ##CONTEUDO##
            </textarea>
            </td>
        </tr>	
               
        
         <tr>
            <td colspan="4" align="right"><br />
                <input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_gravar" type="submit" name="submit" value=""/>
			</td>
        </tr>
	</form>
</table>



<script >
    $("#form-novidade").submit(function(e){
        //var self = this;
        //e.preventDefault();
        var StrippedString = $("#conteudo").val().replace(/(<([^>]+)>)/ig,"");
       
        StrippedString=encodeHtmlEntity(StrippedString);
        
        $("#conteudo").val(StrippedString);
        //console.log(StrippedString);
        //$("#form-novidade").submit();
        //self.submit();

    });


    function encodeHtmlEntity (str) {
    var buf = [];
    for (var i=str.length-1;i>=0;i--) {
        buf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));
    }
        return buf.join('');
    };


</script>