<table align="left" cellpadding="0" cellspacing="0">
	<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Editar Loja
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<table align="left" width="50%">
<tr>
    <td align="left">
        <table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
            <form name="edita_loja" enctype="multipart/form-data" action="##ACTION##" method="post" onsubmit="return validarEdicaoLoja();">
            ##HIDDEN##
            
            <tr>
                <td width="50">
                    Nome:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="nome" size="63" maxlength="50" value="##NOME##" />
                </td>
            </tr>
            <tr>
                <td width="50">
                    Localização:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="localizacao" size="63" maxlength="50" value="##LOCALIZACAO##" />
                </td>
            </tr>
            <tr>
                <td width="50">
                    Telefone:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="telefone" size="18" value="##TELEFONE##" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" />
                </td>
            </tr>	
            <tr>
                <td width="50">
                    Email:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="email" size="63" maxlength="50" value="##EMAIL##" />
                </td>
            </tr>
            <tr>
                <td width="50"> 
                    Site:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="site" size="63" maxlength="50" value="##SITE##" />
                </td>
            </tr>
            <tr>
                <td width="50">
                    Palavras-chave:
                </td>
                <td colspan="2">
                    <input class="label" type="text" name="palavras_chave" size="63" maxlength="50" value="##PALAVRAS_CHAVE##" />
                </td>
            </tr>
            <tr>
                <td width="50">
                    Foto:
                </td>
                <td colspan="2">
                    <input class="label"  name="foto" type="file" /> <font size="1" color="#990000">(imagem na proporção 4:3)</font>
                </td>
            </tr>
            <tr>
                <td width="50">
                    Logomarca:
                </td>
                <td colspan="2">
                    <input class="label"  name="logo" type="file" /> 
                </td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
        </table>
    </td>
    <td align="left" style="padding-left:10px;" valign="top">
        <table>
            <tr>		
                <td align="center" height="50" >##FOTO## &nbsp;</td>
                <td align="center" height="50" valign="top">##LOGO## &nbsp;</td> 
                   
            </tr>
            <tr>
                <td align="center" valign="top">##EXCLUIR_FOTO## &nbsp;</td>
                <td align="center" valign="top">##EXCLUIR_LOGO## &nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
            </tr>
        </table>
    </td>
</table>


<div style="margin:270px 0 0 0;*margin:300px 0 0 0;">
<table width="100%" border="0">
    <tr>
        <td colspan="3">
            <table border="0">
                <tr>
                    <td>
                       <fieldset style="width:460px;height:200px;">
                            <legend align="left" style="margin-left:5px;">Selecione Atividade e Sub atividade:</legend>
                            <div style="width:100%;height:100%;">
                                <div style="margin-top:20px;margin-left:10px;height:20%;">
                                    Atividade:	<span style="padding-left:20px;"> ##CATEGORIAS##</span>
                                </div>
                                <div id="subcategoria" style="display:none;margin:0 0 0 130px">
                                     
                                </div>
                                <div id="tit_subcat" style="display:none;padding-left:10px;">
                                    Sub atividade: <span style="padding-left:0px;"> ##SUBCATEGORIAS##</span>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                    <td style="width:50px;height:200px;vertical-align:middle;text-align:center;">
                        <input type="button" value=">>" id="add" onclick="appendOptionLast('selecionados',getOptionName('select_categoria')+' / '+  getOptionName('select_subcategoria'),document.getElementById('select_subcategoria').value)" /><br />
                        <input type='button' value='<<' id='desAdd' onclick="removeOptionSelected('selecionados'); if(selecionados.options.length==0){document.getElementById('desAdd').disabled=1}" />
                    </td>
                    <td>
                        <fieldset style="width:500px;height:200px;">
                            <legend align="left" style="margin-left:5px;">Categorias / Subcategorias selecionadas;</legend>
                            <div style="padding-top:0px;">
                                <select multiple="multiple" name="selecionados[]" style="border:none;width:100%;height:165px;margin:15px 0 0 0;padding:0px;" id="selecionados" >##CATEGORIAS_SUBCATEGORIAS##</select>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" align="center"><br />
            <input class="botao_limpar" type="reset" name="submit" value=""/>
            <input class="botao_gravar" type="submit" name="submit" value=""/>
            
        </td>
    </tr>    
	</form>
</table>
</div>
<!--/*<script>show_subcategoria('##FATHER_ID##','subcategoria');</script>*/-->

