<table align="left" cellpadding="0" cellspacing="0" border="0" >
<form method="post" action="busca_loja.php">	
	<tr>
    	<td class="tit_canto" height="15" align="left" >
        	Lojas
		</td>
        <td>
        	<img  src="../imagens_layout/tit_canto.jpg" border="0" />
            <a href="cadastro_loja.php">
            <img src="../imagens_layout/btn_adicionar_p.jpg" border="0" /> Adicionar Loja
            </a>
        </td>
    </tr>
    <tr>
    	<td colspan="9">&nbsp;</td>
    </tr>	
    <tr>
    	<td>Buscar</td>
        <td>por nome:<input style="margin:0 0 0 5px" type="text" size="15" name="buscaNome" /></td>
        <td><img style="margin:0 5px 0 5px" src="../imagens_layout/separador_listagem.jpg" border="0" /></td>
        <td>por localização:<input style="margin:0 0 0 5px" type="text" size="15" name="buscaLocalizacao" /></td>
        <td><img style="margin:0 5px 0 5px" src="../imagens_layout/separador_listagem.jpg" border="0" /></td>
        <td>por atividade:<input style="margin:0 0 0 5px" type="text" size="15" name="buscaAtividade" /></td>
        <td><input style="margin:0 0 0 5px" class="inputbranco" type="submit" name="submit" id="submit" value="Buscar" /></td>
    </tr>   
	
	    
  
  </form>   
</table>
<br /><br /><br /><br /><br />
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0">
	
	<div style='text-align:right;padding-right:20px;'>##PAGINACAO_TOPO##</div>
	 ##CAMPOS##

</table>