<div id="container" >
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0" >	
	<tr class='tr_tit txt_tit'>
	  	<td class="td_tit" ><b>Produto</b></td>
       	<td class="td_tit" ><b>Tipo / Modelo</b></td>
	  	<td class="td_tit" ><b>Quantidade de trocas</b></td>
	 	<td class="td_tit" ><b>Campanha</b></td>
	</tr>
    
   ##CAMPOS##
    
    <tr class='tr_tit txt_tit'>
	   	<td class='td_txt' colspan="4"><b>Total por Campanha</b></td>
    </tr>
    
    ##TOTALPORCAMPANHA##
   <!-- <tr class='tr_txt txt_pag'>
	 	<td class='td_txt' colspan="2"><b><i>##TOTALQUANTIDADETROCAS##</i></b></td>
	  	<td class='td_txt'><b><i>R$ ##TOTALGERAL##</i></b></td>
	</tr>-->
   <tr height="5"><td colspan='6' ></td></tr>
</table>
    <div id='pag_3' style="text-align:right;padding-right:20px;display:none;">
        ##PAGINACAO##
    </div>
</div>