<table align="left" cellpadding="0" cellspacing="0">
<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Cadastrar tipo de reclama&ccedil;&atilde;o
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
    <form name="cadastro" action="##ACTION##" method="post" onSubmit="return validarArea()" >
    	##HIDDEN##
        <tr>
            <td>
                Reclama&ccedil;&atilde;o:
            </td>
            <td>
                <input value="##NOME##" class="label" type="text" name="nome" value="" size="63" maxlength="50" />
            </td>
		</tr>
		<tr>
			<td>&Aacute;rea relacionada &agrave; reclama&ccedil;&atilde;o:</td>
			<td>##AREAS##</td>
		</tr>
		<tr>
            <td>
                <input class="botao_ok" type="submit" name="submit" value=""  />
            </td>
        </tr>
        
    </form>
</table>
