<div id="conteudo">
	
	<div id="COL_BG">
            	    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="750" height="220" align="right">
      <param name="movie" value="swf/banner_alimentacao.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="swf/banner_alimentacao.swf" width="750" height="220" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
    </object>
    </div>

	<div id="COL_CEN">
    
    <p><img src="images/tit_alimentacao.jpg" width="304" height="59" /></p>
    
    <p class="larguratexto"><br />
    
    O shopping Plaza Maca&eacute; oferece uma pra&ccedil;a de alimenta&ccedil;&atilde;o completa para voc&ecirc;. S&atilde;o diversas op&ccedil;&otilde;es de restaurantes, lanchonetes e caf&eacute;s para deixar seus momentos de compras e lazer muito mais prazerosos. Escolha a op&ccedil;&atilde;o que mais combina com a sua fome e aproveite!    </p>
    
    <table width="685" border="0" cellspacing="21"> 
      <tr height="85" >
                <td width="200" height="60">
                    <table width="200" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                        <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=57&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/mcdonalds.jpg" width="56" height="54" border="0" /></a></span></td>
                        </tr>
                        <tr>
                        <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=57&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">Mc Donalds</a></td>
                        </tr>
                    </table>
                </td>
                
      			<td width="200" height="60">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=34&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3EAlimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/giraffas.jpg" width="57" height="53" border="0" /></a></span></td>
                    </tr>
                    <tr>
                    <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=34&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3EAlimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">Giraffas</a></td>
                    </tr>
                    </table>
                </td>
                
        		<td height="60" width="201">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=58&amp;atividade=Alimenta%E7%E3o%20/%20Lanchonete%3Cbr%3E"><img src="images/logos/megamate.jpg" width="72" height="35" border="0" /></a></span></td>
                    </tr>
                    <tr>
                    <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=58&amp;atividade=Alimenta%E7%E3o%20/%20Lanchonete%3Cbr%3E">Megamatte</a></td>
                    </tr>
					</table>
                </td>
      </tr>
      <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=6&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/bobs.jpg" width="62" height="27" border="0" /></a></span></td>
                    </tr>
                    <tr>
                    <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=6&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">Bob`s</a></td>
                    </tr>
                    </table>
                </td>
                
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=42&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/kfc.jpg" width="49" height="50" border="0" /></a></span></td>
                    </tr>
                    <tr>
                    <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=42&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">KFC</a></td>
                    </tr>
                    </table>
                </td>
                
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=70&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E"><img src="images/logos/papofurado.jpg" border="0" /></a></span></td>
                    </tr>
                    <tr>
                    <td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=70&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E">Papo Furado</a></td>
                    </tr>
                    </table>
                </td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=10&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E"><img src="images/logos/camaraoecia.jpg" width="53" height="44" border="0" /></a></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=10&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E">Camar&atilde;o &amp; Cia</a></td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=43&amp;atividade=Alimenta%E7%E3o%20/%20Bomboniere%3Cbr%3E"><img src="images/logos/kopenhague.jpg" width="72" height="46" border="0" /></a></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=43&amp;atividade=Alimenta%E7%E3o%20/%20Bomboniere%3Cbr%3E">Kopenhagem</a></td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=71&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/patroni.jpg" width="66" height="34" border="0" /></a></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=70&amp;atividade=Alimentação / Restaurante&lt;br&gt;">Patroni Pizza</a></td>
</tr>
</table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><img src="images/logos/ciadaempada.jpg" width="55" height="46" /></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> Cia da Empada</td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=45&amp;atividade=Alimenta%E7%E3o%20/%20Bomboniere%3Cbr%3E"><img src="images/logos/lechocolate.jpg" width="60" height="59" border="0" /></a></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=45&amp;atividade=Alimenta%E7%E3o%20/%20Bomboniere%3Cbr%3E">Le Chocolatier</a></td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><span class="interna_style1"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=30&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E"><img src="images/logos/spoleto.jpg" width="110" height="28" border="0" /></a></span></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=30&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E">Spoleto</a></td>
</tr>
</table></td>
      </tr>
      <tr>
        <td height="22"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=22&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E"><img src="images/logos/errologo.jpg" width="60" height="65" border="0" /></a></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=22&amp;atividade=Alimenta%E7%E3o%20/%20Restaurante%3Cbr%3E">Conversadeira Bar
e Botiquim</a></td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=1&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/errologo.jpg" width="60" height="65" border="0" /></a></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=1&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">Batataria</a></td>
</tr>
</table></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="60"><a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=87&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E"><img src="images/logos/errologo.jpg" width="60" height="65" border="0" /></a></td>
</tr>
<tr>
<td height="25"><span class="interna_style1">&gt;&gt;</span> <a href="http://www.plazamacae.com.br/exibe_loja.php?id_loja=87&amp;atividade=Alimenta%E7%E3o%20/%20Fast%20Food%3Cbr%3E">Yong Xiang</a></td>
</tr>
</table></td>
      </tr>
    </table>


    <p><span class="style_cinema">Hor&aacute;rio de Funcionamento</span><br />
      <strong>Segunda a s&aacute;bado</strong><br />
De 10h &agrave;s 22h<br />
<span id="pontilhadoAzul">................................</span> <strong><br />
Domingos e feriados</strong><br />
Lojas: 15h &agrave;s 21h<br />
Pra&ccedil;a de alimenta&ccedil;&atilde;o: 11h &agrave;s 22h </p>
    <p><br /></p>
    
  </div>
  
</div>
