<div id="formularios" class="container">

    <div class="contato fale col-md-6">
    	<div class="font-bold contato"><h1>FALE CONOSCO</h1></div>
	    <div>
		    <form id="form-fale" class="form-horizontal" name="fale_form" action="contato.php" method="post" onsubmit="return validaFormContato();">
		    	
		    	<div class="form-group">
					<label  for="nome" class="col-xs-5 control-label double">Nome Completo: </label>
					<div class="col-xs-7"> 
						<input type="text" name="nomeform1" id="nome_form" class="form-control" size="4">
					</div>    
				</div>

				<div class="form-group">
				   	<label for="telefone" class="col-xs-3  control-label">Telefone:</label>
				   	<div class="col-xs-9">   
						<input type="text" name="telefoneform1" id="telefone_form" class="form-control">
					</div>       
				</div>

				<div class="form-group">
				   	<label for="telefone" class="col-xs-3  control-label">Email:</label>
				   	<div class="col-xs-9">   
						<input type="text" name="emailform1" id="email_form" class="form-control">
					</div>       
				</div>

				<div class="form-group">
					<label id="lbl_msg" for="mensagem" class="col-xs-12 control-label double">Mensagem: </label> 
					<div id="textarea" class="col-xs-12">     
						<textarea name="mensagemform1" rows="7" id="mensagem" class="form-control"></textarea>
					</div>       
				</div>

				<div class="form-group form-group-center">
					<input id="enviar_botao1" type="submit" name="botao_submit1" value="Enviar" >  
				</div>
			</form>	
		</div>
	</div>
	<div class="contato col-md-6">
		<div class="font-bold contato"><h1>COMERCIALIZA&ccedil;&atilde;o</h1></div>
		<div class="contato col-md-12 cont_info">
			<p class="comer_1">
			<div>
				Traga sua marca para o Passeio Shopping e
			</div>
			<div>
				aproveite uma das melhores localiza&ccedil;&otilde;es
			</div> 
			<div>
				comerciais do Rio de Janeiro.
			</div>
			</p> 
			<p class="comer">
				<div><strong>Lojas</strong></div>
				<div>Aliansce Comercializa&ccedil;&atilde;o - Tel.: (21) 2414-0003</div>
				<div>E-mail: comercializacao@aliansce.com.br</div>
			</p>
			<p class="comer">
				<div><strong>Quiosques, Stands e Merchandising</strong></div>
				<div> Office Shopping</div>
				<div>Tel.: (21) 2414-0003</div>	
				<div>E-mail: passeio@officeshopping.com.br</div>
			</p>
			<p class="comer">
				
			</p>
		</div>
	</div>

	<div class="contato col-md-12 col-md-12 trabalhe-conosco">
		
	<div class="font-bold contato"><h1>TRABALHE CONOSCO</h1></div>
		

		<form class="form-horizontal" name="trabalhe_form" enctype="multipart/form-data" action="trabalheconosco.php" method="post">
		   	
		   	<div class="col-md-4"> 	
			   	<div class="form-group">
			   		<label class="col-xs-3  control-label double">&Aacute;rea
			   		</label>
			   		<div class="col-xs-9"> 
			   		<input type="text" name="area" id="area_form" class="form-control" >	
			   		</div>
		        </div> 
				
				<div class="form-group">
					<label for="nome2" class="col-xs-5 control-label double">Nome Completo: </label>       
					<div class="col-xs-7">  
						<input type="text" name="nome2" id="nome_form2" class="form-control" >
					</div>       
				</div> 

				<div class="form-group">
					<label for="telefone2" class="col-xs-3 control-label">Telefone:</label>
					<div class="col-xs-9">    
						<input type="text" name="telefone2" id="telefone2" value=""  class="form-control" />
					</div>
	         	</div> 

				<div class="form-group">
					<label for="email2" class="col-xs-3 control-label">Email:</label>
					<div class="col-xs-9">     
						<input type="text" name="email2" id="email_form2" value="" class="form-control" >
					</div>
				</div>  
			</div>	      	
			<div class="col-md-4">
			    <div class="form-group">
					<label for="name" class="col-xs-5 control-label">Data Nascimento:</label>
					<div class="col-xs-7">      
						<input type="text" id="data" name="data" placeholder="DD/MM/AAAA" onKeyUp="mascaraData(this);" maxlength="10" class="form-control"  >
					</div>      
				</div> 

				<div class="form-group">
					<label class="col-xs-2 contol-label sexo_lbl" for="sexo">
						Sexo:
					</label>
					<div class="col-xs-2">	
					<select id="sexo" name="sexo">
		   					<option value="f">M</option>
			            	<option value="m">F</option>
			        </select>	    
			       </div>        		
			    </div> 

				<div class="form-group">
					<label for="escolaridade" class="col-xs-3 control-label">Escolaridade:</label>
					<div class="col-xs-9">       
		   				<select name="escolaridade"  class="form-control selects">
		   					<option value="">Selecionar</option>
			            	<option value="1&#186; grau completo">1&#186; grau completo</option>
			                <option value="1&#186; grau incompleto">1&#186; grau incompleto</option>
			                <option value="2&#186; grau completo">2&#186; grau completo</option>
			                <option value="2&#186; grau incompleto">2&#186; grau incompleto</option>
			                <option value="Superior Completo">Superior completo</option>
			                <option value="Superior Incompleto">Superior Incompleto</option>
			            </select>
					</div>
				</div> 
				<div class="form-group">
					<label for="cargo" class="col-xs-3 control-label">Cargo:</label>
					<div class="col-xs-9">
			            <select name="cargo"  class="form-control selects">
			            	<option value="">Selecionar</option>
			            	<option value="Vendador">Vendedor</option>
			                <option value="Sub-Gerente">Sub-Gerente</option>
			                <option value="Gerente">Gerente</option>
			                <option value="Administrador">Administrador</option>
			                <option value="Servi&ccedil;os Gerais">Servi&ccedil;os Gerais</option>
			                <option value="Manuten&ccedil;&atilde;o">Manuten&ccedil;&atilde;o</option>
			            </select>
			        </div>
	       		</div>
		    </div>
			<div class="col-md-4">
				<div class="form-group"> 
					<label for="arquivo" class="col-xs-12 control-label anexe">Anexe seu Curr&iacute;culo: 
					</label>
					<div class="col-xs-12">
		        		##UPLOAD_ARQUIVO##
		        	</div>
			    </div>
		    </div>
		    <div  class="col-md-12 form-group-center form-group">
				<input id="enviar_botao2"  type="submit" name="botao_submit2" value="Enviar">  
			</div>
				
		</form>
	</div>

	<div class="contato fale col-md-6">
		
		<div class="font-bold contato"><h1>Assine nossa Newsletter! </h1></div>
			
			<script type="text/javascript">
			   var ss_form = {'account': 'MzawMDExMzE2BQA', 'formID': 'SzQ1NUi0TDPQTTNPS9U1MTRM0U1KMTfQNUwxTDO1TElJtUhOAQA'};
			   ss_form.width = '100%';
			   ss_form.height = '1000';
			   ss_form.domain = 'app-3QN2F3XQ3M.marketingautomation.services';
			   // ss_form.hidden = {'Company': 'Anon'}; // Modify this for sending hidden variables, or overriding values
			</script>
			<script id="enviar_botao3" type="text/javascript" src="https://koi-3QN2F3XQ3M.marketingautomation.services/client/form.js?ver=1.1.1"></script>

	</div>


</div>

<script src="js/jquery.maskedinput.min.js"></script>

<script type="text/javascript">
	$(document).ready(function($) {
		$('#telefone_form').mask("(99) 9999-9999?9");
	});

	$(document).ready(function($) {
		$('#telefone2').mask("(99) 9999-9999?9");
	});

		$(document).ready(function($) {
		$('#data').mask("99/99/9999");
	});
</script>
