
  <tr>
    <td height="30" colspan="2" align="center" valign="middle" class="txtmusgo">
    	##LINKS##
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" class="txtmusgo tdconteudo">
      <p class="horarios"><span class="tituloazul">- ##TITULO##</span>
      ##CONTEUDO##
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      <td>&nbsp;
      
      </td>
      </tr>
        <tr>
          <td align="left"><img src="images/ft_dryup.jpg" width="200" height="110"></td>
        </tr>
      </table>
      <p class="horarios">&nbsp;</p>
    <p class="horarios">&nbsp;</p>
    <p class="horarios">&nbsp;</p>
    </td>
  </tr>
