<!--Começo Área Cliente-->
        <div id="login" class="login" style="##DISPLAY_LOGIN##">
        <span>##LOGIN_CLIENTE##</span>
        </div>
        <div id="logado" class="login" style="##DISPLAY_LOGADO##">
        <span>##CLIENTE_LOGADO##</span>
        </div>
<!--Fim Área Cliente-->
 <tr>
    <th width="190" height="90" align="left" valign="middle" scope="col">
    	<img src="images/tit_shopping.jpg" width="179" height="60">
    </th>
    <th align="center" valign="bottom" scope="col">
    	<img src="images/titsub_empree.gif"  class="subtitulomargin" width="186" height="50">
    </th>
  </tr>
  
 <tr>
   <td height="30" colspan="2" align="center" valign="middle" class="txtmusgo">
   		<a href="shopping.php">Shopping</a> | <a href="horarios.php" target="_self">Horrio de Funcionamento</a> | <a href="comochegar.php" target="_self">Como Chegar</a> | <a href="comercializacao.php" target="_self">Comercializao</a>
   </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" class="txtmusgo tdconteudo">
      
      <p align="center">&nbsp;</p>
      <p align="center"><a href="http://www.aliansce.com.br/" target="_blank"><img src="images/aliansce.gif" alt="Aliansce" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/rabr.gif" alt="RABR" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/sogim.gif" alt="Sogim" /></p>
      <p align="center">&nbsp;</p>
      <p class="horarios"><img src="images/bottom_shopping.jpg" width="413" height="138"></p>
    </td>
  </tr>
<!--</table>

</body>
</html>-->