<div id="lojas_body" class="container">
  <div class="container">
    <div id="title_busca" class="row font-bold"><h1 id="title_loja"> ##NOME##</h1>
    <div id="logo-div">##LOGO##</div>
    </div>
    <div class="row exibe_content">
        

        <div class="col-md-3 info_loja"> 
          <h2>WEBSITE</h2>
          <p>##SITE##</p>
        </div>

        <div class="col-md-3 info_loja">
          <h2>ATIVIDADE</h2>
          <p>##ATIVIDADE##</p>
        </div>

        <div class="col-md-3 info_loja">
          <h2>TELEFONE</h2>
          ##TELEFONE##</p>
        </div>

        <div class="col-md-3 info_loja">   
        <h2>LOCAL</h2>
        <p>##LOCALIZACAO##</p>
        </div>
  

  </div>
</div>