<div class="container-fluid" id="lojas_home">
<div class="container-fluid wrap-carousel">
  <div class="row">
    <div id="logo_banner" >
      <div id="logo_banner_right" class="carousel slide" data-ride="carousel">
              <div id="banner_principal" class="carousel-inner" role="listbox">
            
                <div class="item active">
                 <img src="images/banner-passeio.png" width="100%" height="487px" alt="1"/>
                </div>

                <div class="item">
                 <img src="images/front_2.png" width="100%" height="487px" alt="2">
                </div>

                <div class="item">
                 <img src="images/banner-4.png" width="100%" height="487px" alt="2">
                </div>

                <div class="item">
                 <img src="images/capa-2.jpg" width="100%" height="487px" alt="2">
                </div>

                <div class="item">
                 <img src="images/institucional2016.png" width="100%" height="487px" alt="2">
                </div>

              </div>   
               
              <!-- CONTROLS -->
              <a class="right carousel-control control-seta" href="#logo_banner_right " role="button" data-slide="next">
              <img id="seta-right" src="images/cright.png"/>
              </a>   

              <a class="left carousel-control control-seta" href="#logo_banner_right" role="button" data-slide="prev">
                <img id="seta-left"  src="images/cleft.png"/>
              </a>
            </div>    
          </div>
     </div>
  </div>

<!--CAROUSEL LOJAS -->
  <div  class="row font-bold"><h1 class="title_home">LOJAS</h1>
    <h4 id="loja_link" class="center "><a href="lojas.php">VER TODAS</a></h4>
  </div>  
      <div id="myCarousel" class="carousel slide container-fluid">   
        
            <div class="container">
            <div id="lojas_car" class="carousel-inner">
              ##LOJAS##
            </div>
            </div>

            <a class="left carousel-control carousel_2" href="#myCarousel" aria-hidden="false" data-slide="prev">
              <img id="seta-left-2" src="images/cleft.png"/>
            </a>       
            <a class="right carousel-control carousel_2" href="#myCarousel" aria-hidden="false" data-slide="next">
             <img id="seta-right-2"  src="images/cright.png"/>
            </a> 
         

     </div>           
<!--FIM CAROUSEL LOJAS -->

<div class="row midias-home">
<!-- Inicio midias-home -->
<!-- Inicio container midias -->
  <div class="container">
    
      <div class="row midias">
        <div class="row font-bold">
          <h1 class="title_midias">ENCONTRE-NOS</h1>
      </div>
      <div id="div-fb" class="col-md-4 col_fb">
        <!--iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 220px; height: 340px; " src="http://www.facebook.com/plugins/likebox.php?id=108569729197902&amp;width=240&amp;connections=12&amp;stream=false&amp;header=false&amp;height=307"></iframe-->
        <div class="fb-page" data-href="https://www.facebook.com/PasseioShopping" data-tabs="timeline" data-width="300"  data-height="467px" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
        <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/PasseioShopping">
        <a href="https://www.facebook.com/PasseioShopping">
             Passeio Shopping
        </a>
        </blockquote>
        </div>
        </div>
      </div>

      <div class="col-md-4">

        
      <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/abd552d6691b54b489994153b2c80b9f.html" id="lightwidget_abd552d669" name="lightwidget_abd552d669"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="height:100%; width: 100%; border: 0; overflow: hidden;"></iframe>


      </div>

      <div class="col-md-4">
   <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:467px;width:350px;'><div id='gmap_canvas' style='height:467px;width:350px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a style="opacity:0;" href='https://www.embedmap.net/'>google maps embed directions</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=9ac00ebd8d580e57df59d05a1342510f2de029ad'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(-22.9035458,-43.55727569999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-22.9035458,-43.55727569999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Passeio Shopping</strong><br>Passeio Shopping - Rua Viúva Dantas - Campo Grande, Rio de Janeiro - RJ<br>23052-090 Rio de Janeiro<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        
      </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> 
  </div>

  <!-- Fim container midias -->
<!-- Fim midias-home -->
</div>
  <div class="row info-home">
      <div class="container">
        <div class="col-md-3">        
          <h4>ENDEREÇO:</h4>
          <p class="color-red" >Rua Viúva Dantas, 100</p> 
          <p class="color-red" >Campo Grande - CEP: 23052-090</p>
          <p class="color-red"  >Rio de Janeiro - RJ </p>
        </div>
        
        <div class="col-md-3">
          <h4>TELEFONE:</h4>
          <p class="color-red">Tel.: (21) 2414-0003</p>
        </div>
        
        <div class="col-md-3">
          <h4>E-MAIL:</h4>
          <p class="color-red">contato@passeioshopping.com.br</p>  
        </div>
        
        <div class="col-md-3">
          <h4>FUNCIONAMENTO:</h4>
          <p class="color-red" >Segunda a quinta - 9:00h &agrave;s 20:00h</p>
          <p class="color-red" >Sexta a sábado - 9:00h &agrave;s 21:00h</p>   
         </div> 
      </div>
  </div>
</div>

<script type="text/javascript">
  // Carousel Auto-Cycle
 $(document).ready(function() {
    $('.carousel').carousel({
      interval: 4000
    })
  });
</script>

<script type="text/javascript">
 $(document).ready(function() {
  
     $( ".carousel-control").hover(function() {
         var src = ($('#seta-left').attr('src') === 'images/cleft.png')
            ? 'images/vleft.png'
            : 'images/cleft.png';
         $('#seta-left').attr('src', src);

         var src_2 = ($('#seta-right').attr('src') === 'images/cright.png')
            ? 'images/vright.png'
            : 'images/cright.png';
         $('#seta-right').attr('src', src_2);

      });

      $( ".carousel_2").hover(function() {
         var src = ($('#seta-left-2').attr('src') === 'images/cleft.png')
            ? 'images/vleft.png'
            : 'images/cleft.png';
         $('#seta-left-2').attr('src', src);

         var src_2 = ($('#seta-right-2').attr('src') === 'images/cright.png')
            ? 'images/vright.png'
            : 'images/cright.png';
         $('#seta-right-2').attr('src', src_2);

      });


  });

</script>
</div>