<div id="conteudo">
<div id="COL_CEN">
<div id="pag_cadastro">
  <h1>Cadastre-se</h1>
  <span>
<br/><br/><br/>
<table  align="left" border="0" cellspacing="0" cellpadding="0" >
<form name="lembrar_senha" action="##ACTION##" method="post" > 
   
    <tr>
    	<td height="35" colspan="2" valign="top">
    		Digite o login ou email para receber uma nova senha.
    	</td>
  	</tr>
    <tr>
      <td colspan="2" valign="top">
			
				<tr>
					<td height="20" colspan="2" valign="bottom">
						Login:        
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" name="login">        
					</td>
				</tr>
				
				<tr>
					<td height="20" valign="bottom">
						E-mail:        
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" name="email" value="" size="40" >        
					</td>
				</tr>
                <tr>
					<td align="left" colspan="2">
					 <br /><input type="submit" style="background: url(../images/btao_enviar.png) no-repeat scroll center top transparent; width: 51px; height: 21px;" name="submit" value="">  
					</td>
				</tr>
			
</form>
</table>
</span>
</div>
</div>
</div>
