<div id="lojas_body" class="container">
<div class="container">
<div id="title_busca" class="row font-bold"><h1 id="title_busca">BUSCA POR LOJAS</h1>
</div>
  
      <div class="row">                 
            <div class="input-group col-md-4">
            <span id="lupa" class="glyphicon glyphicon-search" aria-hidden="true">
                </span>
                <form name="form_busca" action="lojas.php" method="get">
                 <input id="search" type="text" name="busca" class="form-control"/>
                 <input type="submit" id="submit_hidden">
                </form>
             </div>
      </div>
                            
<div class="container" id="letters">
<ul class="pagination">
  <li><a href="lojas.php?busca2=a">A-</a></li>
  <li><a href="lojas.php?busca2=b">B-</a></li>
  <li><a href="lojas.php?busca2=c">C-</a></li>
  <li><a href="lojas.php?busca2=d">D-</a></li>
  <li><a href="lojas.php?busca2=e">E-</a></li>
  <li><a href="lojas.php?busca2=f">F-</a></li>
  <li><a href="lojas.php?busca2=g">G-</a></li>
  <li><a href="lojas.php?busca2=h">H-</a></li>
  <li><a href="lojas.php?busca2=i">I-</a></li>
  <li><a href="lojas.php?busca2=j">J-</a></li>
  <li><a href="lojas.php?busca2=k">K-</a></li>
  <li><a href="lojas.php?busca2=l">L-</a></li>
  <li><a href="lojas.php?busca2=m">M-</a></li>
  <li><a href="lojas.php?busca2=n">N-</a></li>
  <li><a href="lojas.php?busca2=o">O-</a></li>
  <li><a href="lojas.php?busca2=p">P-</a></li>
  <li><a href="lojas.php?busca2=q">Q-</a></li>
  <li><a href="lojas.php?busca2=r">R-</a></li>
  <li><a href="lojas.php?busca2=s">S-</a></li>
  <li><a href="lojas.php?busca2=t">T-</a></li>
  <li><a href="lojas.php?busca2=u">U-</a></li>
  <li><a href="lojas.php?busca2=v">V-</a></li>
  <li><a href="lojas.php?busca2=w">W-</a></li>
  <li><a href="lojas.php?busca2=x">X-</a></li>
  <li><a href="lojas.php?busca2=y">Y-</a></li>
  <li><a href="lojas.php?busca2=z">Z</a></li>
</ul>


<div class="row" id="home_content">
  <div class="row">
      ##LOJAS##
  </div>
</div>
</div>
</div>
</div>