<div id="conteudo">
<div id="COL_CEN">
    <div id="pag_cadastro">
  <h1>Cadastre-se</h1>
  <span>
<table border="0" cellspacing="0" cellpadding="0" >
<tr>
   <td colspan="2" valign="top">
	
		<table align="left" border="0" cellspacing="1" cellpadding="0" >
       
        <tr>
            <td colspan="2" valign="top">
                
                    <div align="justify">
                    	<br>
   						##MENSAGEM##
   					</div>
				

            </td>
            
        </tr>
        
</table>
</td>
</tr>
</table>
</span>
</div>
</div>
</div>