 <script type="text/javascript" src="js/jssor.slider.mini.js"></script>
    <!-- use jssor.slider.debug.js instead for debug -->
  <script type="text/javascript" src="js/custom2.js"></script>
  <link rel="stylesheet" href="stylesheets/custom2.css" type="text/css" media="screen">

  
 <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1345px; height: 910px; overflow: hidden; visibility: hidden; ">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>

        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 950px; height: 910px; overflow: hidden;">
            ##LINKS2##
            <a data-u="add" href="http://www.jssor.com" style="display:none">Jssor Slider</a>
        </div>
        <!-- Thumbnail Navigator -->        
        <div id="bacalhau" data-u="thumbnavigator" class="jssort11 yolo" style="position:absolute;right:5px;top:0px; font-family:'tt_normal', Arial, Helvetica, sans-serif;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;width:400px;height:300px;" data-autocenter="2">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="tp"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora02r" style="top:0px;right:405px;width:55px;height:55px;" data-autocenter="2"></span>
    </div>
  

    <script>
        jssor_1_slider_init();
    </script>


    <br><br>