 <script type="text/javascript" src="js/jssor.slider.min.js"></script>
    <!-- use jssor.slider.debug.js instead for debug -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!--   
    <script>
        jssor_1_slider_init = function() {
            
            var jssor_1_options = {
              $AutoPlay: true,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 4,
                $SpacingX: 4,
                $SpacingY: 4,
                $Orientation: 2,
                $Align: 0
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 810);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            //responsive code end
        };
    </script>
-->
<!-- no style
    <style>
        
        /* jssor slider arrow navigator skin 02 css */
        /*
        .jssora02l                  (normal)
        .jssora02r                  (normal)
        .jssora02l:hover            (normal mouseover)
        .jssora02r:hover            (normal mouseover)
        .jssora02l.jssora02ldn      (mousedown)
        .jssora02r.jssora02rdn      (mousedown)
        */
        .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a02.png') no-repeat;
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
/* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
        .jssort11 .p {    
                    position: absolute;    
                    /*top: 5px;
                    bottom: 50px;    */
                    left: 0px;    
                    width: 370px;    
                    height: 120px; 

                    /*background: #181818;*/
                }
        
        .jssort11 .tp {    
                    position: absolute;    
                    top: 0;    
                    left: 26px;  
                    bottom: 50px;  
                    width: 100%;    
                    height: 100%;    
                    border: none;
                }

        .jssort11 .i, .jssort11 .pav:hover .i {    /*imagem*/
                    position: absolute;    
                   /* top: 3px;    
                    left: 3px;    
                    width: 70px;    
                    height: 30px; */
                    width: 90px;
                    /*height: 50px;*/
                    border: white 1px dashed;
                }

        * html .jssort11 .i {    
                    width /**/: 72px;    
                    height /**/: 32px;
                }
        
        .jssort11 .pav .i {    
                    border: white 1px solid;
                }
        .jssort11 .t, .jssort11 .pav:hover .t {
                    position: absolute;    
                    /*top: 3px;    */
                    left: 98px;    
                    width: 229px;    
                    height: 32px;    
                    line-height: 32px;    
                    text-align: left;    
                    color: #3c3c3b!important;   
                    font-size: 19px;    
                    font-weight: 700;
                    padding-bottom: 15px;
                }

        
        .jssort11 .pav .t, .jssort11 .p:hover .t {    
                    color: #23527c;
                }

        .jssort11 .c, .jssort11 .pav:hover .c {    
                    position: absolute;    
                    top: 14px;    
                    left: 99px;    
                    /*width: 294px;    
                    height: 32px;    
                    line-height: 32px;*/    
                    color: #D13138;     
                    font-size: 17px;    
                    font-weight: 400;    
                    overflow: hidden;
                    text-align:justify;
                    margin-top: 21px;

                }

        .jssort11 .pav .c, .jssort11 .p:hover .c {    
                    color: #D13138;                
                }

        .jssort11 .t, .jssort11 .c {    
                    transition: color 2s;    
                    -moz-transition: color 2s;    
                    -webkit-transition: color 2s;    
                    -o-transition: color 2s;
                 }

        .jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {    
                    transition: none;    
                    -moz-transition: none;    
                    -webkit-transition: none;    
                    -o-transition: none;
                }

        .jssort11 .p:hover, .jssort11 .pav:hover { /*houve*/
                    background: #c6c6c6;
                }

        .jssort11 .pav, .jssort11 .p.pdn {    /*houver sozinho*/
                    background: #c6c6c6;
                }
        .img-carousel{/*Imagem maior*/
            max-width:738px!important;
            /*min-width: 1000px!important;*/
            /*min-height:773px!important;*/
            max-height:753px!important;
            /*margin-bottom: 28px!important;*/
        }

        .conteudo{ /*conteudo abaixo da imagem*/
            font-size: 18px!important;    
            font-weight: bold!important;   
            font-family:'tt_normal', Arial, Helvetica, sans-serif;
            padding-left: 40px!important; 
            padding-right: 40px!important; 
            padding-top:  28px!important; 
            text-align: justify;
        }
        .posicao-selecao{
            padding-top:-165px!important; 
        }
    </style>

-->

##cont##

##cont2##
 <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1345px; height: 910px; overflow: hidden; visibility: hidden; ">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>

        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 950px; height: 910px; overflow: hidden;">
            ##LINKS2##
            <a data-u="add" href="http://www.jssor.com" style="display:none">Jssor Slider</a>
        </div>
        <!-- Thumbnail Navigator -->        
        <div id="bacalhau" data-u="thumbnavigator" class="jssort11 yolo" style="position:absolute;right:5px;top:0px; font-family:'tt_normal', Arial, Helvetica, sans-serif;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;width:400px;height:300px;" data-autocenter="2">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="tp"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora02r" style="top:0px;right:405px;width:55px;height:55px;" data-autocenter="2"></span>
    </div>
  

    <script>
        jssor_1_slider_init();
    </script>


    <br><br>