<div id="lojas_body">
    
    <div id="title_busca" class="row font-bold">
      <h1 id="title_busca"> Novidades e Promoções  </h1>
    </div>
    <div class="container novi">
      <div class="row" id="home_content">      
            
        <div class="col-md-4 links-novidade ">
         <h3 id="participe">CONFIRA!</h3>
          ##LINKS##
        </div>

        <div class="col-md-8 promo">
         <h2>##TITULO##</h2>
          <div class="row">
                ##IMAGEM##
          </div>
            ##CONTEUDO##
        </div> 

        

      </div>
   </div>
   
</div>