<!-- <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/site.css" rel="stylesheet" type="text/css" /> -->


<!--  <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script> -->
<!-- <script   src="http://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
<!--  <script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
 <script src="js/custom5.js" type="text/javascript"></script>

 <script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
  -->


<br />
	<div class="container">
		<div class="row">

		<div class="col-md-8">
			
		##IMAGEM2##
		</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<!--  	 -->
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<ul class="demo1">
									##LINKS2##
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-footer">

					</div>
				</div>
			</div>
						
		</div>
	</div>
	<br><br>
<script type="text/javascript">
    $(function () {
        $(".demo1").bootstrapNews({
            newsPerPage: 5,
            autoplay: true,
			pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
		
		$(".demo2").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
			pauseOnHover: true,
			navigation: false,
            direction: 'down',
            newsTickerInterval: 2500,
            onToDo: function () {
                //console.log(this);
            }
        });

        $("#demo3").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,
            
            onToDo: function () {
                //console.log(this);
            }
        });
    });

    $(".alinhamento").each(function (i) {
        var text = $(this).text();
        var len = text.length;

        if (len > 80) {
        	var query = text.split(" ", 10);
                query.push('...');
                res = query.join(' ');
            $(this).text(res);
        }
    });

</script>

<script type="text/javascript">
	function exibirNovidade(id){
		$(".novidade_item").removeClass("habilitado");
		$("#"+id).addClass("habilitado");
	}
</script>