 <div id="conteudo">
      	
   		
        <div id="COL_CEN">
    		 <div id="pagina_novidades">
        	<h1>Novidades</h1>
           
    		<table cellpadding="0" cellspacing="0" border="0" width="500" style="margin-left:0">
            <tr>
            <td height="15px">&nbsp;</td>
			</tr>

            <tr>
            <td>

            <table cellpadding="0" cellspacing="0" border="0" width="388" align="left">
            <tr>
            <td colspan="3"><img src="images/box_tilt_news_top.png" border="0" /></td>
            </tr>
    		<tr>
            <td style="background:url(images/box_tilt_news_esq.png)" width="4"></td>
    	    <td>
    		<div style="width:380px; background:#f7d346;">##LINKS##</div>
    		</td>
            <td style="background:url(images/box_tilt_news_right.png)" width="4"></td>
			</tr>

            <tr>
            <td colspan="3"><img src="images/box_tilt_news_button.png" border="0" /></td>
			</tr>

			</table>
            </td></tr>
            <tr>
            <td height="15px">&nbsp;</td>
			</tr>

			<tr>
    			<td valign="top">
                <br />
        		<p><span style="width:500px; color:#2E3192; font-size:14px;font-weight:bold">- ##TITULO##</p>
                        <br />
            		</span>
                <div>##CONTEUDO##<br /></div>
          
    		</td>
			</tr>

			</table>
    </div>
  </div>
</div>
</div>
