<!-- <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/site.css" rel="stylesheet" type="text/css" /> -->


<!--  <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script> -->
<!-- <script   src="http://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
<!--  <script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
 <script src="js/custom5.js" type="text/javascript"></script>

 <script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
  -->




	<br />   

	<div class="container">
		<div class="row">
			<div class="col-md-8">
			 	##IMAGEM2##
			</div>
			
<!-- 			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">	
							<div class="col-xs-12">
								<ul class="demo1">	
									##LINKS2##
								</ul>	
							</div> 
						</div>
					</div>	
					<div class="panel-footer"> </div>
				</div>
			</div>
		</div>
	</div>
 -->
 
<div class="col-md-4">
				<div class="panel panel-default">
					<!--  	 -->
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<ul class="demo1">
									<li class="news-item">
										<table cellpadding="4">
											<tr>
											<script>
												console.log(5 + 6);
											</script>
												<td><img src="/images/novidades/292.jpg" width="80px" class="" /></td>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...</td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td><img src="/images/novidades/292.jpg" width="80px" class="" /></td>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...</td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td><img src="/images/novidades/292.jpg" width="80px" class="" /></td>
												<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...</td>
											</tr>
										</table>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-footer">

					</div>
				</div>
			</div>
						
		</div>
	</div>