  <footer>
      <div class="container rodape"> 
        <div class="col-md-2">
          <div id="icones-sociais">
            <a href="http://www.facebook.com/PasseioShopping" target="_blank" class="image_footer"><img src="images/face.png" border="0" /></a>
             <a href="http://www.twitter.com/passeioshopping" target="_blank" class="image_footer"><img src="images/twitter.png" border="0" /></a>
            <!--a href="cadastro.php"><img src="images/contato_icon.png" border="0"  /></a-->
            <a href="https://www.instagram.com/passeioshopping" ><img src="images/instagram.png" border="0"  /></a>
          </div>
        </div>

        <div class="col-md-8 imagens-rodape" >
          <a href="http://www.aliansce.com.br" target="_blank" class="image_footer">
            <img class="img-rodape" src="images/alliance_1.png" border="0" />
          </a>
            
          <a href="http://www.gruposantaisabel.com.br" target="_blank" class=" image_footer ">
            <img class="imagem-santa-isabel img-rodape" src="images/santa_isabel_1.png" border="0" />
          </a>

          <a href="http://www.officeshopping.com.br/" target="_blank" class="image_footer">
            <img class="imagem-santa-isabel img-rodape" id="office" src="images/officeshopping_1.png" border="0" />
          </a>

          <a href="http://www.portaldoshopping.com.br" target="_blank">
            <img class="img-rodape" src="images/abrasce.png" border="0"/>
          </a>
        </div>

        <div class="col-md-2">
          <div id="div_link">
          <a id="click_link" href="http://www.clicksoft.com.br" target="_blank">
              Desenvolvido por ClickSoft
          </a>
          </div>
        </div>
         
      </div>
    </footer>

    <!-- GOOGLE ANALYTICS -->

    <script type="text/javascript">

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script>

    <script type="text/javascript">
      try {

      var pageTracker = _gat._getTracker("UA-10962446-1");

      pageTracker._trackPageview();

      } catch(err) {}
    </script>

    <!-- FIM GOOGLE ANALYTICS -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22295282-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!--   <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous">
      
    </script>-->
<!-- Latest compiled and minified JavaScript -->
   
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">-->
      
    </script>
 
  </body>

</html>