<div id="wrapper-shopping" class="container">
      <div id="shopping-about" class="col-md-12">
        
          <div class="col-md-8">
            <h3><strong>Passeio Shopping</strong></h3></span>
             
            <p>
              O Passeio Shopping foi inaugurado no ano de 2000.
              O Shopping recebe uma média de 800.000 pessoas por mês e
              <br>
              se destaca pelo seu mix de lojas, que atendem a clientes das classes B e C. 
             </p>
             <p>
              O Passeio Shopping fica ao lado das estações rodoviária e ferroviária, e é hoje um ponto de
              <br>
              comércio seguro e confortável na região da Zona Oeste do Rio, destacando-se pelo seu
              <br>
              atendimento diferenciado ao consumidor.
            </p>

            <h4><strong>A REGIÃO DE CAMPO GRANDE</strong></h4>
            
            <p>

              Campo Grande é um dos maiores bairros do Rio de Janeiro, e possui um dos melhores Índices
              <br>
              de Desenvolvimento Humano da Zona Oeste. Nos últimos 2 anos, o mercado imobiliário de
              <br>
              Campo Grande vem se tornando um dos principais focos de investimento no Estado do Rio de 
              <br>
              Janeiro, e o entorno do Passeio Shopping tem vivenciado este crescimento em
              <br> 
              empreendimentos comerciais e residenciais, o que vem aumentando continuamente o seu
              <br>
              fluxo.
            </p>

            
            <p>
            <strong>
                O fluxo mensal do Passeio Shopping é maior do que a população de Campo Grande. 
                <br>
                Campo Grande passa pelo Passeio Shopping!
            </strong>
            </p>
            <p>
              Em Campo Grande encontram-se instaladas algumas das principais indústrias do Rio de
              <br>
              Janeiro, como Michelin e Ambev. 
            </p>

            <p>
            
            <ul>
              <strong>Passeio Shopping em números:</strong>
                     <li>Área Locável: 7.758 m².</li>
                      <li>85 lojas e quiosques.</li>
                      <li>800.000,00 pessoas por mês.</li>
                      <li>Âncora: C&amp;A.</li>
                      <li>Mega lojas: Ricardo Eletro e Lojas Americanas.</li>
                      <li>Cliente: B e C. </li>
                      <li>Vagas de Estacionamento: 300.</li>
                    </ul>
            </p>
            <p id="last-p">
              <strong>Área de Influência:</strong>
              <br>
               Bangu, Campo Grande, Guaratiba, Santa Cruz, Sepetiba e Itaguaí.
            </p>
         </div>

         <div class="col-md-4">     
              <div class="row fotos-sobre">                    
                  <div class="row" id="grid">

                      <div class=" thumb-sobre">
                          <img class="img-responsive imagem-sobre" src="images/PS-10.jpg" alt="">
                      </div>

                      <div class=" thumb-sobre">
                           <img class="img-responsive imagem-sobre" src="images/PS-20.jpg" alt="">
                      </div>

                      <div class=" thumb-sobre">
                         <img class="img-responsive imagem-sobre" src="images/PS-17.jpg" alt="">
                      </div> 

                  </div>
           <!-- <div class="row fotos-sobre">
                <div class="col-md-12">
                    <div class="row" id="grid">

                        <div class="col-md-4 thumb-sobre">
                            <img class="img-responsive" src="images/foto-6.png" alt="">
                        </div>

                        <div class="col-md-4 thumb-sobre">
                             <img class="img-responsive" src="images/foto-5.png" alt="">
                        </div>

                        <div class="col-md-4 thumb-sobre">
                           <img class="img-responsive" src="images/foto-4.png" alt="">
                        </div>

                        <div class="col-md-4 thumb-sobre">
                             <img class="img-responsive" src="images/foto-3.png" alt="">
                        </div>

                        <div class="col-md-4 thumb-sobre">
                             <img class="img-responsive" src="images/foto-2.png" alt="">
                        </div>

                        <div class="col-md-4 thumb-sobre">
                            <img class="img-responsive" src="images/foto-1.png" alt="">
                        </div>
                           
                        </div>
                    </div>
                </div>-->
              </div>
            </div>  

            <div class="col-md-12">
                <div class="col-md-4 thumb-sobre">
                  <img class="img-responsive " src="images/PS-2.jpg" alt="">
                </div>
                <div class="col-md-4 thumb-sobre">
                     <img class="img-responsive " src="images/PS-1.jpg" alt="">
                </div>
                <div class="col-md-4 thumb-sobre">
                    <img class="img-responsive" src="images/PS-26.jpg" alt="">
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4 thumb-sobre">
                  <img class="img-responsive " src="images/PS-27.jpg" alt="">
                </div>
                <div class="col-md-4 thumb-sobre">
                     <img class="img-responsive " src="images/PS-32.jpg" alt="">
                </div>

            </div>
       </div>
    </div>