<style>

#vitrines {
	width:620px;
}
p.vitrine{
  margin-bottom: 20px;
  padding-bottom: 5px;
  background:url('/images/rodape-imagem.png') no-repeat bottom left !important;   
}
.vitrine {
	width:300px;
	float:left;
}

.vitrine img{
	/*margin-bottom: 20px !important;*/	
}

.vitrine span.nome_loja_produto_vitrine {
	color: #323592 !important;
	font-weight: bold !important;
	line-height: 32px !important;
	text-decoration: none !important;
	/*background:#0089d0 !important;*/
	background:url('/images/topo-imagem.png') no-repeat !important;
	font-size: 14px !important;
	width:275px !important;
	padding:0 !important;
	text-align: center !important;
	
}
.vitrine span, .vitrine strong{
  font: 13px !important;
  font-family: arial !important;
  color: #323592 !important;
  padding: 0 0 0 20px !important;
  margin: 0px !important;
  line-height: 24px !important;  
}
.virtine span.nome_produto_vitrine,.virtine strong {
	/*display:none;*/	
  font-weight: bold !important;
}

.preco_produto_vitrine {
	/*display:none;*/	
}

.localizacao_loja_produto_vitrine {
	/*display:none;*/	
}

</style>

<div id="conteudo">
	<div id="COL_CEN">
    <div id="pagina_shopping">
        	<h1 style="width:150px">Vitrine</h1>
            <span style="padding:0;">
             ##VITRINE##             
            </span>
        </div>
</div>
</div>