* {
padding: 0;
margin: 0 auto;
border: 0;
}
body{
font-family:Arial, Helvetica;
background:url(../img/grafismo_bg.jpg) no-repeat top ;
margin:0px;
padding:0px;
}
#topo{
background:url(../img/bg_topo.jpg) repeat-x;
height:49px;
line-height:49px;
}
#menu{
width:897px;
background:url(../img/RASCUNHO/topo.jpg);
height:49px;
}
#conteudo{
width:902px;
}
#COL_ESQ{
margin-top:36px;
position:absolute;
width:146px;
z-index:5;
}
#COL_BG{
background:url(../img/RASCUNHO/FLASHPROVISORIOb.png) no-repeat right top;
position:relative;
height:730px;
width:902px;
z-index:2;
}
#COL_DIR{
position:absolute;
float:right;
margin-top:36px;
margin-left:693px;
width:209px;
z-index:4;
}
#COL_CEN{
position:absolute;
float:right;
margin-top:255px;
margin-left:215px;
width:688px;
z-index:4;
color:#333;

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
line-height:22px;
color:#848383;

}
#vitrine{
background:url(../img/tit_vitrine.jpg) top no-repeat;
padding-top:32px;
width:146px;
height:210px;
  
}
#vitrine .vitrine_img{
height:176px;
}
#vitrine .bot_vitrine{
  background:url(../img/bot_vitrine.jpg) no-repeat;
  color:#12dbdb;
  font-size:14px;
  padding-top:7px;
height:27px;
text-align:center;
}
#foto_interna{
background:url(../img/foto_entrada.png);
position:absolute;
z-index:5;
width:221px;
height:194px;
margin-top:455px;
margin-left:690px;

}
#rodape{
position:relative;
z-index:9;
font-size:11px;
width:902px;
line-height:21px;
border-bottom:1px solid #e5e5e5;
}
#rodape_grafismo{
background:url(../img/grafismo_rodape.jpg);
position:relative;
z-index:9;
width:902px;
height:110px;
}
#rodape_clicksoft{
position:relative;
color:#c1c1c1;
z-index:9;
font-size:11px;
margin-top:3px;
width:902px;
text-align:right;
}
#rodape_clicksoft a{
text-decoration:none;
color:#c1c1c1;
font-weight:bold;
}	
