<table align="left" cellpadding="0" cellspacing="0">
	<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0">
				<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tit_canto" height="15">
							Adicionar Banner Pop up
						</td>
						<td>
							<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
						</td>
					</tr>
				</table>
			</td>
			<td >&nbsp;
		
			</td>
    	</tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0" border="0">
	<form name="cadastro" action="##ACTION##" method="post" enctype="multipart/form-data" onsubmit="return validarBannePopUp();" >
		<tr>
        	<td>
            Nome:        
            </td>
            <td>
			<input type="text" maxlength="50" name="nome">     
			</td>
      	</tr>
        
        <tr>
          	<td>
			Data de entrada:        
			</td>
        	<td>
            <input type="text" name="dataEntrada" value="" readonly >
				<span style="vertical-align:bottom;"><img src="images/ico_calendario.gif" border="0" alt="calendario" onClick="displayCalendar(document.cadastro.dataEntrada,'dd/mm/yyyy',this,true)" /></span>   	
             </td>
		</tr>
        <tr>
        	<td>
            Data de saida:        
            </td>
            <td>
            <input type="text" name="dataSaida" value="" readonly>
				<span style="vertical-align:bottom;"><img src="images/ico_calendario.gif" alt="calendario" onClick="displayCalendar(document.cadastro.dataSaida,'dd/mm/yyyy',this,true)" /></span>
				<div id="debug"></div>     
			</td>
      	</tr>
        <tr>
        	<td>
            Banner:        
            </td>
            <td>
             <input type="file" name="arquivo">       
			</td>
      	</tr>
        <tr>
        	<td></td>
        </tr>
        ##ATIVA_HOME##
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="2" align="left">Medidas do Banner</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td>Altura:</td>
            <td><input type="text" name="alturaBanner" size="2" onKeyPress="return digitos(event, this);"/>&nbsp;px</td>
        </tr>
        <tr>
        	<td>Largura:</td>
            <td><input type="text" name="latguraBanner" size="2" onKeyPress="return digitos(event, this);"/>&nbsp;px</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><br />
				<input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""/>
            </td>
        </tr>
      </form>             
</table>
