<form name="cadastro" enctype="multipart/form-data" action="##ACTION##" method="post" onsubmit="return validarBanneAchados()">
<table cellpadding="0" cellspacing="0" border="0" align="left">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Adicionar Banner
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
</table>
<br><br>
<table class="tabela_cadastro" cellpadding="0" cellspacing="0" border="0" align="left">
	<tr>
    	<td>Loja:</td>
        <td>##LOJAS##</td>
	</tr>
    <tr>
    	<td>Produto:</td>
    	<td><input class="label" type="text" name="nomeProduto"></td>
    </tr>
    <tr>
    	<td>Foto do produto:</td>
        <td>##UPLOAD_FOTO##(146 x 176)</td>
    </tr>
    <tr>
    	<td>Pre&ccedil;o R$:</td>
        <td><input class="label" type="text" name="precoProduto" onKeyPress="return(formataMoeda(this,'','.',event));"></td>
    </tr>
    </tr>   
		<td colspan="4" align="right"><br />
			<input class="botao_limpar" type="reset" name="limpar" value=""  />
			<input class="botao_ok" type="submit" name="submit" value=""/>
        </td>
	</tr>
</table>
</form>