<table>
	<form action="##ACTION##" method="post">
    ##HIDDEN##
	
	<tr>
    	<td>
        	email: 
        </td>
        <td>
        	<input class="label" type="text" name="email" value="##EMAIL##" size="40" />
        </td>
        <td>
        	<input class="botao_ok" type="submit" name="submit" value="Enviar" />
        </td>
    </tr>
    </form>
</table>