<table align="left" cellpadding="0" cellspacing="0" border="0">
	
	<tr><td colspan="4"></td></tr>
	<tr>
    	<td class="tit_canto" height="15" align="left" >
        	Tipo de Reclama&ccedil;&atilde;o
		</td>
        <td valign="top">
        	<img  src="../../imagens_layout/tit_canto.jpg"  />
        </td>
		 <td>
        	&nbsp;&nbsp;
            <!--<img src="../imagens_layout/separador_listagem.jpg" border="0" />-->
            &nbsp;&nbsp;
        </td>
		<td>
            <a href="cadastra_tipo_reclamacao.php">
            <img src="../../imagens_layout/btn_adicionar_p.jpg" border="0" /> Adicionar reclamação
            </a>
        </td>
    </tr>
   	
</table>
<br /><br />
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0">
	
	<div style='text-align:right;padding-right:20px;'>##PAGINACAO_TOPO##</div>
	
	<tr class='tr_tit txt_tit'>
	  <td class="td_tit" >Nome</td>
      <td class="td_tit" >&Aacute;reas</td>
      <td class="td_tit" align="center" ><b>A&ccedil;&atilde;o</b></td>
	</tr>
	    
   ##CAMPOS##
   
   <tr height="5"><td colspan='6' ></td></tr>
   
   
</table>

