<table align="left" cellpadding="0" cellspacing="0" border="0">
<tr><td colspan="4"></td></tr>
	<tr>
    	<td class="tit_canto" height="15" align="left" >
        	Promo&ccedil;&otilde;es de anivers&aacute;rio
		</td>
        <td valign="top">
        	<img  src="../../imagens_layout/tit_canto.jpg"  />
            <a href="cadastro_promocao.php">
            <img src="../../imagens_layout/btn_adicionar_p.jpg" border="0" /> Adicionar Promo&ccedil;&atilde;o
            </a>
        </td>
		 <td>
        	&nbsp;&nbsp;
            <!--<img src="../imagens_layout/separador_listagem.jpg" border="0" />-->
        </td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0" border="0">
<div style='text-align:right;padding-right:20px;'>##PAGINACAO_TOPO##</div>
##CAMPOS##
</table>