<table align="left" cellpadding="0" cellspacing="0">
<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">

				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Editar respons&aacute;vel
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
    <form name="cadastro" action="##ACTION##" method="post" onSubmit="return validarResponsavel()" >
    	##HIDDEN##
        ##HIDDEN2##
        <tr>
            <td>
                Nome:
            </td>
            <td>
            <input class="label" type="text" name="nome_cliente" size="73" maxlength="50" value="##NOME_CLI##"  />
          
          <!--<div style="position: absolute;display:inline; z-index: 0;">
          ##CADASTRO_RAPIDO##
          </div>-->
          
          <!--<div style="position: absolute;display:inline; z-index: 0;">
          ##EDITAR_RAPIDO##
          </div>-->
		  
          <!--<div id="baixo" style="border-bottom:1 solid #bdbdbd;border-left:1 solid #bdbdbd;border-right:1 solid #bdbdbd;left:62px;top:195px; width:386px;position: absolute;display:none; z-index: 1;background-color:#ffffff; " ></div>-->
            </td>
        </tr>
    <tr>
        	<td>CPF:</td>
        	<td> <input class="label" ##DISABLED## type="text" name="cpf" size="45" maxlength="14" value="##CPF_CLI##"  onKeyPress="return digitos(event, this);" onKeyU"Mascara('CPF',this,event);" /> 
         <!-- no site o top deve ser 10px; -->
          </td>
        </tr>
        <tr>
        	<td>Email:</td>
        	<td> <input class="label" ##DISABLED## type="text" name="email" size="45" maxlength="50" value="##EMAIL_CLI##" />
         <!-- no site o top deve ser 10px; -->
          </td>
        </tr>
</table>
<br/><br/><br/><br/>
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
		<tr>
        	<td class="txt_td" align="left"><b>Crian&ccedil;a</b></td>
        </tr>
        <tr>
        	<td>##CRIANCA##</td>
        </tr>
        <tr>
        	<td><br/></td>
        </tr>
        <tr>
        	<td colspan="2" align="center">
             <input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""  />
            </td>
        </tr>
        </form >
</table>
