<script>
	function redireciona(url){
		window.location.href=url;
	}
</script>
<table align="center" cellpadding="0" cellspacing="0" style="width:100%;height:100%;" class="tabela_tela_inicial">
  <tr class="barra_inicial">
  <td colspan="2" align="center"><img src="../../imagens_layout/promo-layout/tela_1/images/tilt_bem_vindo.jpg">
  </td>
  </tr>
  <tr>
    <td align="left"><input type="image" src="../../imagens_layout/promo-layout/tela_1/images/bt_iniciar.png" onClick="redireciona('cadastra_troca_promocao.php');" >
    </td>
    <td align="right"><input type="image" src="../../imagens_layout/promo-layout/tela_1/images/bt_fechar.png" onClick="redireciona('../logout.php');" >
    </td>
  </tr>
  <tr>
  <td colspan="2" align="center">##IMAGEM##
  <!--<img src="../../imagens_layout/promo-layout/tela_1/images/img_camp_mae.png">-->
  </td>
  </tr>
   <tr>
    <td align="left" valign="bottom"><img src="../../imagens_layout/logo_cliente.jpg">
    </td>
    <td align="right" valign="bottom"><img src="../../imagens_layout/logo_clickmall.jpg">&nbsp;
    </td>
  </tr>
     <tr class="barra_inicial">
  <td colspan="2" align="center">&nbsp;
  </td>
  </tr>
</table>

</body>
</html>
