<table width="523" height="250" border="0" cellspacing="0" cellpadding="0" >
	
	<tr height="20" style="background-color: #DFDFDF;color:#FFFfff;">
	  <td align="center" width="120" align="left">Nome</td>
	  <td align="center" width='203'>Atividade</td>
	  <td align="center" width="100" align="left">Localização</td> 
	  <td align="center" width="100" align="left">Telefone</td>    	  
	</tr>    
   ##CAMPOS##     
  <tr height="230">
	  <td></td>
	  <td></td>

<td></td>  <td></td>     
	</tr>
    
</table>
