<script>
/* #### funcoes utilzadas na busca do cep ### */
function buscaCEP(cep,apelido,nome){
	url = 'cadastro.php?cep='+cep+'';
	if(apelido != "") url += '&apelido='+apelido+'';
	if(nome != "") url += '&nome='+nome+'';
	window.location.href = url;
}
function carregando(){      
    document.getElementById('carregando').style.display='inline';
}
/* #############################################*/
</script>

<div class="container">
    <div class="font-bold"><h1>Cadastre-se</h1></div>
    <form class="form-horizontal" name="cadastro" action="##ACTION##" method="post" onsubmit="return validarCamposCadastroCliente();">

        <div class="form-group col-md-6">
            <label for="apelido" class="col-xs-3 control-label"><!--Como gostaria de ser chamado:-->Apelido:</label>   
            <div class="col-xs-9">
                <input type="text" name="apelido" value="##APELIDO##" class="form-control" > 
            </div>
        </div>  

        <div class="form-group col-md-6">
            <label for="nome" class="col-xs-3 control-label">Nome Completo:</label>
            <div class="col-xs-9">
                <input type="text" name="nome" value="##NOME##" class="form-control"  > 
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="email" class="col-xs-3 control-label">Email:</label>
            <div class="col-xs-9">
                <input type="text" name="email" value=""  class="form-control" >    
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="cep" class="col-xs-3 control-label"> Cep:</label>
            <div class="col-xs-9">
                <input type="text" name="cep" value="##CEP##" maxlength="9" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CEP',this,event);" onblur="javascript:carregando();buscaCEP(document.cadastro.cep.value,document.cadastro.apelido.value,document.cadastro.nome.value);" class="form-control"  >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="endereco" class="col-xs-3 control-label">Endere&ccedil;o:</label>
            <div class="col-xs-9">  
                <input type="text" name="endereco" value="##ENDERECO##" class="form-control"  > <div id="carregando" style="display:none;" ><img src="images/loading.gif" /></div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="complemento" class="col-xs-3 control-label">Complemento:</label>
            <div class="col-xs-9">
                <input type="text" name="complemento" class="form-control" >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="bairro" class="col-xs-3 control-label">Bairro:</label>
            <div class="col-xs-9">        
                <input  type="text" name="bairro" value="##BAIRRO##"  class="form-control" >  
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="cidade" class="col-xs-3 control-label">Cidade:</label>
            <div class="col-xs-9"> 
                <input type="text" name="cidade" value="##CIDADE##" class="form-control"  >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="estado" class="col-xs-3 control-label">Estado:</label>
            <div class="col-xs-9">			
                ##ESTADOS##   
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="telefone" class="col-xs-3 control-label">Telefone:</label>
            <div class="col-xs-9">
                <input  type="text" name="telefone" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);"  class="form-control" >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="celular" class="col-xs-3 control-label">Celular:</label>
            <div class="col-xs-9">					
                <input  type="text" name="celular" id="celular" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);"  class="form-control" >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="telefone2" class="col-xs-3 control-label">Telefone 2:</label>
            <div class="col-xs-9">   
                <input type="text" name="telefone2" id="telefone2" value="" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" class="form-control"  >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="nome" class="col-xs-3 control-label">Profiss&atilde;o:</label>
            <div class="col-xs-9">        
                ##PROFISSAO##
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="cpf" class="col-xs-3 control-label">Cpf: </label>
            <div class="col-xs-9">
                <input type="text" name="cpf" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CPF',this,event);"  class="form-control" >
            </div>
        </div>     
        
        <div class="form-group col-md-6">
            <label for="data" class="col-xs-3 control-label">Data de Nascimento:</label>
            <div class="col-xs-9">        
                <input type="text" name="data" value="" maxlength="10" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('DATA',this,event);"  class="form-control" >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="rg" class="col-xs-3 control-label">Rg:</label>
            <div class="col-xs-9">        
                <input type="text" name="rg" value="" maxlength="15" size="15" onKeyPress="return digitos(event, this);"  class="form-control" >
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="sexo" class="col-xs-3 control-label">Sexo:</label>
            <div class="col-xs-9">	
                <input type="radio" checked="checked" name="sexo" value="m" > M
                <input type="radio" name="sexo" value="f" > F 					
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="estado_civil" class="col-xs-3 control-label">Estado Civil:</label>
            <div class="col-xs-9">
                <input type="radio" checked="checked" name="estado_civil" value="solteiro" /> Solteiro
                <input type="radio" name="estado_civil" value="casado" /> Casado
                <input type="radio" name="estado_civil" value="outro" /> Viúvo
                <input type="radio" name="estado_civil" value="divorciado/desquitado" /> Divorciado/Desquitado
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="escolaridade" class="col-xs-3 control-label">Grau de escolaridade:</label>
            <div class="col-xs-9">
                <input type="radio" checked="checked" name="escolaridade" value="Ensino Fundamental" >Ensino 
                Fundamental
                <input type="radio" name="escolaridade" value="Ensino Medio" > Ensino Médio
                <input type="radio" name="escolaridade" value="Ensino Superior" > Ensino Superior
            </div>
            <div class="col-xs-9">
                <input checked="checked" type="radio" name="statusEscolaridade" value="Completo" > Completo 
                <input type="radio" name="statusEscolaridade" value="incompleto" > Incompleto
            </div>
        </div>
        <div class="col-md-12">*campos obrigat&oacute;rios</div>
        <div class="col-md-12 form-group-center form-group">
            <input class="btn btn-default" type="submit" name="submit" value="Enviar">
        </div >
        
    </form>
</div>
