<div id="conteudo">
<div id="COL_CEN">
     <div id="pagina_comercializacao">
        	<h1>Comercialização</h1>
    <span>
    </br>
    Traga sua marca para o Passeio Shopping e aproveite de uma das melhores localizações comercias do Rio de Janeiro.
    </br></br>
	
    <strong>Lojas</strong></br>
Aliansce Comercialização - Tel.: (21) 2414-0003</br>
E-mail: comercializacao@aliansce.com.br</br>
</br></br>
<strong>Quiosques, Stands e Merchandising</strong></br>
Office Shopping</br>
Tel.: (21) 2414-0003</br></br></br>
E-mail: passeio@officeshopping.com.br</br>
    </span>
  </div>
</div>
</div>