<div class="container">

    <div class="contato col-md-6">
    	<div class="font-bold"><h1>Contato</h1></div>
	    <div>
		    <form class="form-horizontal" name="cadastro" action="contato.php" method="post" onsubmit="return validaFormContato();">
		    	<div class="form-group">
					<label for="nome" class="col-xs-3 control-label">Nome Completo: </label>
					<div class="col-xs-9"> 
						<input type="text" name="nome" id="nomeCompleto" class="form-control">
					</div>    
				</div>

				<div class="form-group">
				   	<label for="telefone" class="col-xs-3  control-label">Telefone:</label>
				   	<div class="col-xs-9">   
						<input type="text" name="telefone" id="telefone" class="form-control">
					</div>       
				</div>

				<div class="form-group">
					<label for="email" class="col-xs-3  control-label">E-mail:</label>
					<div class="col-xs-9">      
						<input type="text" name="email" value="" size="40" id="email" class="form-control" >
					</div>       
				</div>

				<div class="form-group">
					<label for="mensagem" class="col-xs-3 control-label">Mensagem: </label> 
					<div class="col-xs-9">     
						<textarea name="mensagem" rows="7" id="mensagem" class="form-control"></textarea>
					</div>       
				</div>

				<div class="form-group form-group-center">
					<input type="submit" name="submit" value="Enviar" class="btn btn-default">  
				</div>
			</form>	
		</div>
	</div>
	<div class="contato col-md-6">
		<div class="font-bold"><h1>Comercializa&ccedil;&atilde;o</h1></div>
		<div class="contato col-md-12">
			<p>
				Traga sua marca para o Passeio Shopping e aproveite de uma das melhores localiza&ccedil;&otilde;es comerciais do Rio de Janeiro.
			</p>
			<p>
				<div>Lojas</div>
				<div>Aliansce Comercializa&ccedil;&atilde;o - Tel.: (21) 2414-0003</div>
				<div>E-mail: comercializacao@aliansce.com.br</div>
			</p>
			<p>
				<div>Quiosques, Stands e Merchandising Office Shopping</div>
				<div>Tel.: (21) 2414-0003</div>	
			</p>
			<p>
				E-mail: passeio@officeshopping.com.br
			</p>
		</div>
	</div>

	<div class="contato col-md-12 col-md-12-trabalhe-conosco">
		<div class="font-bold"><h1>Trabalhe Conosco</h1></div>
		<form class="form-horizontal" name="trabalhe" enctype="multipart/form-data" action="trabalheconosco.php" method="post">
		   	<div class="col-md-4">
			   	<div class="form-group">
			   		<label class="col-xs-3  control-label">&Aacute;rea</label>
			   		<div class="col-xs-9"> 
				   		<select name="tipo" class="form-control">
			            	<option value="Lojas">Lojas</option>
			                <option value="Administra&ccedil;&atilde;o">Administra&ccedil;&atilde;o</option>       
			            </select>
			           </div>
		        </div> 
				<div class="form-group">
					<label for="nome2" class="col-xs-3 control-label">Nome Completo: </label>       
					<div class="col-xs-9">  
						<input type="text" name="nome2" class="form-control" >
					</div>       
				</div> 

				<div class="form-group">
					<label for="telefone2" class="col-xs-3 control-label">Telefone:</label>
					<div class="col-xs-9">    
						<input id="telefone2" type="text" name="telefone2" value=""  class="form-control" />
					</div>
	         	</div> 

				<div class="form-group">
					<label for="email2" class="col-xs-3 control-label">Email:</label>
					<div class="col-xs-9">     
						<input type="text" name="email2" value="" class="form-control" >
					</div>
				</div>  
			</div>	      	
			<div class="col-md-4">
			    <div class="form-group">
					<label for="name" class="col-xs-3 control-label">Data Nascimento:</label>
					<div class="col-xs-9">      
						<input type="text" name="data" onKeyUp="mascaraData(this);" maxlength="10" class="form-control"  >
					</div>      
				</div> 

				<div class="form-group">
					<label for="sexo" class="col-xs-3 control-label">Sexo:</label>
					<div class="col-xs-9">        
			        	<input type="radio" name="sexo" value="m"> M
			            <input type="radio" name="sexo" value="f" > F
			        </div>
	       		</div> 

				<div class="form-group">
					<label for="escolaridade" class="col-xs-3 control-label">Escolaridade:</label>
					<div class="col-xs-9">       
		   				<select name="escolaridade"  class="form-control">
		   					<option value="-1">Selecionar</option>
			            	<option value="1&#186; grau completo">1&#186; grau completo</option>
			                <option value="1&#186; grau incompleto">1&#186; grau incompleto</option>
			                <option value="2&#186; grau completo">2&#186; grau completo</option>
			                <option value="2&#186; grau incompleto">2&#186; grau incompleto</option>
			                <option value="Superior Completo">Superior completo</option>
			                <option value="Superior Incompleto">Superior Incompleto</option>
			            </select>
					</div>
				</div> 
				<div class="form-group">
					<label for="cargo" class="col-xs-3 control-label">Cargo:</label>
					<div class="col-xs-9">
			            <select name="cargo"  class="form-control">
			            	<option value="-1">Selecionar</option>
			            	<option value="Vendador">Vendedor</option>
			                <option value="Sub-Gerente">Sub-Gerente</option>
			                <option value="Gerente">Gerente</option>
			                <option value="Administrador">Administrador</option>
			                <option value="Servi&ccedil;os Gerais">Servi&ccedil;os Gerais</option>
			                <option value="Manuten&ccedil;&atilde;o">Manuten&ccedil;&atilde;o</option>
			            </select>
			        </div>
	       		</div>
		    </div>
			<div class="col-md-4">
				<div class="form-group"> 
					<label for="arquivo" class="col-xs-12 control-label">Anexe seu Curr&iacute;culo: </label>
					<div class="col-xs-12">
		        		##UPLOAD_ARQUIVO##
		        	</div>
			    </div>
		    </div>
		    <div class="col-md-12 form-group-center form-group">
				<input class="btn btn-default" type="submit" name="submit" value="Enviar">  
			</div>
				
		</form>
	</div>

</div>

<script src="js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#telefone').mask("(99) 9999-9999?9");
	});

	$(document).ready(function() {
		$('#telefone2').mask("(99) 9999-9999?9");
	});
</script>
