     <div id="COL_CEN">
        <div id="pagina_eventos">
    	<h1>Eventos</h1>
    	<div>##LINKS##</div><br />
        
    	<span >##NOME##</span>
    
    	<div> 
    	&nbsp;##BANNER##&nbsp;<br /><br /><br />
    	&nbsp;##CONTEUDO##&nbsp;
    	</div>
        </div>
  	</div>

    

