<div class="container-fluid">
  <div class="row">

  <div id="logo_banner" style="width: 100%;">
    <div id="logo_banner_right" class="carousel slide" data-ride="carousel">
      <!-- div id="logo_banner" style="padding: 80px 0 0 0;">
      <div id="logo_banner_right" style="float: right;" class="carousel slide" data-ride="carousel" -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
       <div class="item active">
         <img src="http://s12.postimg.org/iv6xfs0e5/Panorama4.jpg" width="100%" height="551px" alt="1">
         <!-- img src="http://s12.postimg.org/iv6xfs0e5/Panorama4.jpg" width="500" height="551" alt="1" -->
       </div>

       <div class="item">
         <img src="http://s12.postimg.org/eakr0ugot/Panorama1a.jpg" width="100%" height="551px" alt="2">
         <!-- img src="http://s12.postimg.org/eakr0ugot/Panorama1a.jpg" width="500" height="551" alt="2" -->
       </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#logo_banner_right" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#logo_banner_right" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  </div>
</div>


<script type="text/javascript">
  // Carousel Auto-Cycle
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });
</script>