<div class="row">
   <div id="logo_banner" style="width: 100%;">
     <div id="logo_banner_right" class="carousel slide" data-ride="carousel"
     style="
     .slide {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 10;
}
     ">
   <!-- div id="logo_banner" style="padding: 80px 0 0 0;">
     <div id="logo_banner_right" style="float: right;" class="carousel slide" data-ride="carousel" -->

       <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
         <div class="item active">
           <img src="http://s12.postimg.org/iv6xfs0e5/Panorama4.jpg" width="100%" height="551px" alt="1">
           <!-- img src="http://s12.postimg.org/iv6xfs0e5/Panorama4.jpg" width="500" height="551" alt="1" -->
         </div>

         <div class="item">
           <img src="http://s12.postimg.org/eakr0ugot/Panorama1a.jpg" width="100%" height="551px" alt="2">
           <!-- img src="http://s12.postimg.org/eakr0ugot/Panorama1a.jpg" width="500" height="551" alt="2" -->
         </div>
       </div>

       <!-- Left and right controls -->
       <a class="left carousel-control" href="#logo_banner_right" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#logo_banner_right" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>
   </div>
</div>


<div class="row">
<div class="lojas">
  <div class="container">
    <div class="col-md-12 font-bold"><h1>LOJAS</h1></div>
    <div class="col-md-8">
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            ##LOJAS##
        </div>
      </div>
    </div> 
  </div>  
</div>
</div>


<div class="row">
<!-- Inicio midias-home -->
<div class="midias-home">
<!-- Inicio container midias -->
  <div class="container">
      <div class="col-md-12 font-bold"><h1>ENCONTRE-NOS</h1></div>

      <div class="col-md-4">
        <!--iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 220px; height: 340px; " src="http://www.facebook.com/plugins/likebox.php?id=108569729197902&amp;width=240&amp;connections=12&amp;stream=false&amp;header=false&amp;height=307"></iframe-->
        <div class="fb-page" data-href="https://www.facebook.com/PasseioShopping" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PasseioShopping"><a href="https://www.facebook.com/PasseioShopping">Passeio Shopping</a></blockquote></div></div>
      </div>

      <div class="col-md-4 col_intagram">
        <div class="ig-root Th4X2M clearfix"> </div>
        <script>
         scripts=[];
         host='http://www.uptsi.com';
         js=document.createElement('script');
         js.src=host+"/tools/widgets/b/9b46c581952i4iNk7lQ3722W1Fbld585jCg9BMO1j8fhR6VJ783Yilh7T30I23j5eAP131";
         scripts[0] = js;
         for(i=0;i< scripts.length; i++){document.getElementsByTagName("HEAD")[0].appendChild(scripts[i]); }
        </script>
      </div>

      <div class="col-md-4">
        <div class="item_end"> 
          <h4>ENDEREÇO:</h4>
          <p>Rua Viúva Dantas, 100 Campo Grande - CEP: 23052-090 - Rio de Janeiro - RJ </p>
        </div>
        <div class="item_end">
          <h4>TELEFONE:</h4>
          <p class="color-red">Tel.: (21) 2414-0003</p>
        </div>
        <div class="item_end">
          <h4>E-MAIL:</h4>
          <p class="color-red">passeio@officeshopping.com.br</p>
        </div>
        <div class="item_end">
          <h4>FIQUE POR DENTRO!</h4>
          <p>Desejo ficar informado sobre os eventos, novidades e promoções do Passeio Shopping?</p>
          <div>
            <a class="color-red" href="cadastro.php" >cadastre-se</a>
          </div>
        </div>
        
      </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> 

  </div>
  <!-- Fim container midias -->
</div>
<!-- Fim midias-home -->
</div>


<script type="text/javascript">
  // Carousel Auto-Cycle
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });
</script>