<div class="rows">
	<div class="container">
		<div class="font-bold"><h1>Cadastre-se</h1></div>
		<form class="form-horizontal" name="lembrar_senha" action="##ACTION##" method="post" > 
			<div class="col-md-3" style="height: 50px;"></div>
			<div class="col-md-6">
				<h4>Digite o login ou email para receber uma nova senha.</h4>
				<div class="form-group">
		            <label for="login" class="col-xs-3 control-label">Login: </label>
		            <div class="col-xs-9">       
						<input class="form-control" type="text" name="login">        
					</div>
				</div>
				<div class="form-group">
				    <label for="email" class="col-xs-3 control-label">E-mail: </label>
		            <div class="col-xs-9">       
						<input class="form-control" type="text" name="email" value="" size="40" >        
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-12 form-group-center form-group">
				<input class="btn btn-default" type="submit" name="submit" value="Enviar"> 
			</div >
		</form>
	</div>
</div>
