<div class="row col-md-12-trabalhe-conosco">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="font-bold"><h1>Cadastre-se</h1></div>
    
    ##MENSAGEM##
  </div>
  <div class="col-md-2"></div>
</div>