   
    </div>
    <footer>
      <div class="container"> 
        <div class="col-md-2">
          <span>Trabalhe conosco:</span>
          <p>Entre em contato e tenha oportunidades em diversas &aacute;reas.</p>
          <a href="trabalheconosco.php" class="color-red">Envie seu curriculo</a>
        </div>
        <div class="col-md-3">
          <span>Funcionamento:</span>
          <p>Segunda a Quinta - 9:00h &agrave;s 20:00h</p>
          <p>Sexta a s&agrave;bado - 9:00h &agrave;s 21:00h</p>
        </div>

        <div class="col-md-2">
          <span>Estamos aqui:</span>
          <div>
            <a href="http://www.facebook.com/PasseioShopping" target="_blank" class="image_footer"><img src="images/face.png" border="0" /></a>
             <a href="http://www.twitter.com/passeioshopping" target="_blank" class="image_footer"><img src="images/twitter.png" border="0" /></a>
            <!--a href="cadastro.php"><img src="images/contato_icon.png" border="0"  /></a-->
            <a href="https://www.instagram.com/passeioshopping" ><img src="images/instagram.png" border="0"  /></a>
          </div>
        </div>

        <div class="col-md-5 icones-col">
          <a href="http://www.aliansce.com.br" target="_blank" class="image_footer">
            <img src="images/aliance.png" border="0" />
          </a>
          <a href="http://www.gruposantaisabel.com.br" target="_blank" class="image_footer">
            <img src="images/santa_isabel_1.png" border="0" />
          </a>
          <a href="http://www.portaldoshopping.com.br" target="_blank">
            <img src="images/abrasce.png" border="0"/>
          </a>
          <a href="http://www.clicksoft.com.br" target="_blank" style="float:none"><p>Desenvolvido por ClickSoft</p></a>
        </div>
      </div>
    </footer>

    <!-- GOOGLE ANALYTICS -->

    <script type="text/javascript">

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script>

    <script type="text/javascript">
      try {

      var pageTracker = _gat._getTracker("UA-10962446-1");

      pageTracker._trackPageview();

      } catch(err) {}
    </script>

    <!-- FIM GOOGLE ANALYTICS -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22295282-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>

</html>