
<!--<link href="stylesheets/styles_interna.css" rel="stylesheet" type="text/css" />-->

<div id="conteudo">
	<div id="COL_BG">
    	<img src="images/RASCUNHO/FLASHPROVISORIOe.png" align="right" width="750" height="220" />
    </div>
<div id="COL_CEN">
    <p><img src="images/tit_servicoplaza.jpg" width="147" height="59" /></p>
    <p class="larguratexto"><br />
      Para sua comodidade e conforto, o shopping Plaza Maca&eacute; oferece alguns servi&ccedil;os para voc&ecirc;. </p>
    <p>Confira cada um deles:    </p>
    <p>&nbsp;</p>
    
    <div><span class="style_cinema">Estacionamento</span></div>
    <div style="padding-left:50px; background:url(images/servico_3.jpg) no-repeat left;">
    <p class="larguratexto">
     S&atilde;o 1000 vagas que permitem que voc&ecirc; fa&ccedil;a suas compras com mais tranq&uuml;ilidade e seguran&ccedil;a. <br />
	 O estacionamento* do Plaza Maca&eacute; funciona das 9h45 &agrave;s 23h.</p>
    </div>
    <div style="font-size:10px;width:688px">
    *N&atilde;o nos responsabilizamos por furtos, roubos, ou extravios de partes, pe&ccedil;as, acess&oacute;rios e/ou quaisquer objetos deixados no interior do ve&iacute;culo.
    </div>
    
    <Div style="height:1px; background-color:#ededed; margin-top:20px; margin-bottom:20px; width:450px;"></Div>
    
    <div><span class="style_cinema">Achados e Perdidos</span></div>
    <div style="padding-left:50px; background:url(images/servico_2.jpg) no-repeat left;">
      <p class="larguratexto">Se voc&ecirc; perdeu algum objeto dentro do Plaza Maca&eacute;, procure nosso servi&ccedil;o de achados e perdidos.<br />
	 Hor&aacute;rio de atendimento:</p>
    </div>
    <div>
    <span class="interna_style1">>></span>  Segunda a S&aacute;bado<br />
	<span class="interna_style1">>></span>  De 10h &agrave;s 22h<br />
	Procure um de nossos seguran&ccedil;as.
    </div>
    
    <Div style="height:1px; background-color:#ededed; margin-top:20px; margin-bottom:20px; width:450px;"></Div>

    <div><span class="style_cinema">Para a fam&iacute;lia </span></div>
    <div style="padding-left:50px; background:url(images/servico_1.jpg) no-repeat left;">
     <p class="larguratexto">
O Plaza Maca&eacute; est&aacute; de bra&ccedil;os abertos para sua fam&iacute;lia. Venha e aproveite o ambiente agrad&aacute;vel e <br />
arejado, a comodidade de encontrar grandes marcas e as diversas op&ccedil;&otilde;es de gastronomia e lazer.<br /></p>
    </div>
    <div>	 Tudo, &eacute; claro, com muito conforto e seguran&ccedil;a.</div>
	
    
  </div>
  
  <blockquote>&nbsp;</blockquote>
</div>