<div id="container" >
    <table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0" >
    <!--##CAMPOCATEGORIA##
        <tr class='tr_tit txt_tit'>
          <td class="td_tit" ><b>Tipo</b></td>
         <!-- <td class="td_tit" ><b>Categoria</b></td>-->
          <!--<td class="td_tit" ><b>Criado</b></td>
          <td class="td_tit" ><b>Aberto</b></td> 
          <td class="td_tit" ><b>Andamento</b></td>
          <td class="td_tit" ><b>Fechado</b></td> 
          <td class="td_tit" ><b>Tempo m&eacute;dio</b></td>-->
          <!--<td class="td_tit" ><b>Ver/Editar</b></td> -->
        <!--</tr>-->

    ##CAMPOS##
    
   ##CAMPOMEDIA##
    
    
       <tr height="5"><td colspan='6' ></td></tr>
    </table>
    <div id='pag_3' style="text-align:right;padding-right:20px;display:none;">
        ##PAGINACAO##
    </div>
</div>