@charset "utf-8";
/* CSS Document */
body 
{
	margin: 0px;
	background-color:#9fb3b8;
	background:url(../images/bg.jpg) repeat-x;
	background-color:#9FB3B8;
}
.colleft 
{
	background:url(../images/bg_colleft.jpg) no-repeat;
}
.boxbuscaup 
{
	background-image: url(../images/bg_buscaup.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.boxbuscadown 
{
	padding-left: 45px;
	background-image: url(../images/bg_buscadown.gif);
	background-repeat: no-repeat;
	background-position: center top;
	vertical-align:top;
}
.boxnews 
{
	background:url(../images/bg_novidades.gif) no-repeat;
}
.imputbranco 
{
	color: #274468;
	font-size:11px;
	border: 0px;
}
