
/* CSS Document */
body {
	margin: 0px;
	background-color:#9fb3b8;
	background:url(images/bg_meio2.jpg);
	background-color:#9FB3B8;
	font-family:Arial, Helvetica, sans-serif;
}
.colright {
	background:url(images/bg_meio.jpg);
	}
.boxbuscaup {
	background-image: url(images/bg_buscaup.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
.boxbuscadown {
	padding-left: 45px;
	background-image: url(images/bg_buscadown.gif);
	background-repeat: no-repeat;
	background-position: center top;
	vertical-align:top;
	}
.boxnews {
	background:url(images/bg_novidades.gif);
	}
.imputbranco {
	color: #274468;
	font-size:11px;
	border: 0px;
	}
.tdconteudo {padding-left:10px; padding-top:5px;}
.txtmusgo { color:#18474E; font-size:10px;}
.txtmusgo a:link {color:#09357d; text-decoration:none; font-weight:bold}
.txtmusgo a:visited {color:#17212d;}
.txtmusgo a:hover {color:#233244; text-decoration:underline;}
.txtmusgo a:active {color:#233244;}

.txtamarelo { color:#ffc90d; font-size:10px; font-weight:bold}
.txtamarelo a:link {color:#ffc90d; text-decoration:none; font-weight:bold}
.txtamarelo a:visited {color:#ffc90d;}
.txtamarelo a:hover {color:#fff; text-decoration:underline;}
.txtamarelo a:active {color:#ffc90d;}

.txtbranco { color:#fff; font-size:10px;  text-align:center}
.txtbranco a:link {color:#fff; text-decoration:none;  font-weight:bold}
.txtbranco a:visited {color:#fff;  font-weight:bold}
.txtbranco a:hover {color:#ffc90d; text-decoration:underline;  font-weight:bold}
.txtbranco a:active {color:#ffc90d; font-weight:bold}

.tituloazul {font-size:12px; color:#274E8D; font-weight:bold }

