@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background-color:#9fb3b8;
	background:url(../images/bg_rodape.jpg) repeat-x;
	background-color:#274468;
	font-family:Arial, Helvetica, sans-serif;
	
}
.txtmusgo { color:#233244; font-size:10px; text-align:center}
.txtmusgo a:link {color:#233244; text-decoration:none; font-weight:bold}
.txtmusgo a:visited {color:#17212d;}
.txtmusgo a:hover {color:#233244; text-decoration:underline;}
.txtmusgo a:active {color:#233244;}

.txtamarelo { color:#ffc90d; font-size:10px; font-weight:bold}
.txtamarelo a:link {color:#ffc90d; text-decoration:none; font-weight:bold}
.txtamarelo a:visited {color:#ffc90d;}
.txtamarelo a:hover {color:#fff; text-decoration:underline;}
.txtamarelo a:active {color:#ffc90d;}

.txtbranco { color:#fff; font-size:10px;  text-align:center}
.txtbranco a:link {color:#fff; text-decoration:none;  font-weight:bold}
.txtbranco a:visited {color:#fff;  font-weight:bold}
.txtbranco a:hover {color:#ffc90d; text-decoration:underline;  font-weight:bold}
.txtbranco a:active {color:#ffc90d; font-weight:bold}

