corpo {
	 font-family : arial;	
}

img {
	 border : 0 ;
}

/ * Styling-se a galeria de imagens * /

# slideshow-main {
	 width : 429px ; 
	 flutuador : left; 
	 margin-right : 3px ;
}

# slideshow-main  ul {
	 margem : 0 ; 
	 estofamento : 0 ; 
	 width : 429px ;
}

# slideshow-main  li {
	 width : 429px ; 
	 altura : 290px ; 
	 visor : none;
	 posição : relative;
}

# slideshow-main  li .active {
	 exibição : bloco ! important ;
}

#slideshow-main  li  span .opacity {
	 position :absolute;
	 bottom : 0 ; left : 0 ;
	 display :block; 
	 width : 100% ;
	 height : 60px ;
	 background : #000 ;
	 filter : alpha (opacity= 50 ); 
	 -moz-opacity : 0.5 ; 
	 -khtml-opacity : 0.5 ; 
	 opacity : 0.5 ;
	 z-index : 500 ;
}

#slideshow-main  li  span .content {
	 position :absolute;
	 bottom : 0 ; left : 0 ;
	 display :block; 
	 width : 100% ;
	 height : 60px ;
	 z-index : 1000 ;
}

# slideshow-main  li  extensão .content  h1 {
	 font-size : 14px ;
	 margem : 5px  0 ;
	 estofamento : 0  10px ;;
	 cor : # 42e2e8 ;
}

# slideshow-main  li  extensão .content  p {
	 font-size : 11px ;
	 margem : 5px  0 ;
	 estofamento : 0  10px ;;
	 cor : # 42e2e8 ;
}



/ * Styling até o carrossel * /

# slideshow-carrossel {
	 flutuador : left; 
	 width : 206px ;
	 posição : relative
}

# slideshow-carrossel  ul {
	 margem : 0 ; 
	 estofamento : 0 ;
	 list-style : none;
}

# slideshow-carrossel  li {
	 fundo : #fff ; 
	 Altura : 97px ; 
	 posição : relative
}

#slideshow-carousel  li  .arrow {
	 left : 3px ; 
	 top : 28px ; 
	 position :absolute; 
	 width : 20px ; 
	 height : 40px ; 
	 background : url (images/arrow_white.png) no-repeat 0  0 ; 
	 visor : block;
}

# slideshow-carrossel  li  a {
	 fundo : # 000 ; 
	 visor : block; 
	 width : 206px ; 
	 Altura : 95px ;
}


#slideshow-carousel  .active {
	 filter : alpha (opacity= 100 ); 
	 -moz-opacity : 1.0 ; 
	 -khtml-opacity : 1.0 ; 
	 opacity : 1.0 ;
}

# slideshow-carrossel  .faded {
	 filtro : alfa (opacidade = 50 ); 
	 -moz-opacity : 0,5 ; 
	 -khtml-opacidade : 0,5 ; 
	 opacidade : 0,5 ;
}