/*///////////////////// CSS PASSEIO SHOPPING ////////////////////////////////////////////*/
@charset "UTF-8";

html,body {
    margin:0!important;
    padding:0!important;
    height:100%!important;
    min-height:100%!important;
}

.tudo{
    height:100%!important;
    min-height:100%!important;
    position:relative!important;
}

footer {
    width:100%;
    min-height:100px;
    position:relative;
    bottom:0;
    left:0;
}

#formularios,#wrapper-shopping,#lojas_body{
    min-height:100%;
    padding-bottom:100px;
}

@font-face {
    font-family: tt_normal;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/tt0855m_.ttf);
}
@font-face {
    font-family: tt_bold;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/tt1161m_.ttf);
}

@font-face{
    font-family: "Glyphicons-Halflings";/*MENU*/
    src: url(fonts/glyphicons-halflings-regular.ttf);/*local e remota pra donwalod*/
    
}


* {
    padding: 0;
    margin: 0 auto;
    border: 0;
    font-family:"tt_normal", Arial, Helvetica, sans-serif;
    color:#545454;
}

body {
    font-family:"tt_normal", Arial, Helvetica, sans-serif;
    /*background:url(../images/topo-geral.jpg) #dddddd no-repeat top center;*/
    margin:0;
    padding:0;
    color:#545454;
}

@media (max-width: 767px){

.info-home {
    text-align:center;
}

.img-rodape,#div_link,#icones-sociais{
    padding-top: 4%!important;
}

.cont_info{
    padding-left:4%!important; 
}
.trabalhe-conosco{
   padding-left: 4%!important;
}
#form-fale{
    margin-left: 3%!important;
}
.contato.fale{
    padding-left:4%!important;
}

#icones-sociais{
    padding-bottom:10px;
    text-align:center!important;
}
.lightwidget-widget{
    min-height:500px!important;
}
#lightwidget_abd552d669{
    min-height:500px!important;
}



#div-insta{
    padding-top:10px!important;      
     padding-bottom:10px!important;  
}

#div-fb{
    text-align:center;
    padding-top:10px!important;   
    padding-bottom:10px!important;  
   
}

#row_carousel{
    width: 64%!important;
}
#row_carousel img {
    margin:5px;
    max-width:100%!important;
    margin: 3px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
  }
  .hovereffect-2 .overlay-2{
    width:100%!important;
    height:100%!important;
  }
  #navbar a {
    padding-top:27px!important;
    min-height: 78px!important;
   }

   /*.right.carousel-control.carousel_2,.left.carousel-control.carousel_2{
        padding-top:13%!important;
   }*/

}
/*
@media (min-width:320px){
#row_carousel img {
    max-width: 60px!important;
    max-height: 60px!important;
    margin: 3px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
  }
}
*/

@media (max-width:768px){
.navbar-toggle{
        bottom:33px;
  }
 #logo{
    margin-bottom:-20px;
 } 
}


.func,.social {
    padding-left:15px!important;
    padding-right:15px!important;
    }
.icones-col,#click_link,.social{
        text-align:left!important;
    }
    .resp{
        margin-bottom:20px!important;
    }
}
.current, .slide, a.next_end, a.previous_end {
    display:unset!important;
}
.font-bold{
    margin-left:0px!important;
    margin-right:0px!important;
    margin:auto;
    font-family:"tt_bold", Arial, Helvetica, sans-serif;
}
.contato h1{
    text-align: left!important;
}
#formularios{
    padding-left: 1.0%!important;
    margin-top: 45px;
    font-size: 16px;
}
.novi{
    padding-left: 2.7%!important;
}

#formularios .form-control{
    box-shadow:unset;
    border-radius:unset;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    padding-bottom:0px;
    padding-top: 19px;
    
}

#telefone_form{
    max-width:360px;
}
#nome_form{
    max-width:303px;
}
#email_form{
    max-width:378px; 
}
#nome_form2{
    max-width:166px;
}
#telefone2{
    max-width:222px;
}
#email_form2{
    max-width:243px; 
}
#sexo{
  margin-top: 10px;
}
.sexo_lbl{
    font-weight:normal; 
}
#arquivo{
    min-height:43px;
}

.comer{
    margin-top: 9%;
}
.comer_1{
    margin-top:5%;
}

#search{
    text-align:left;
    text-indent:10px;
    font-size:20px;
    margin-top: 10px;
    max-width:350px;
    box-shadow:unset;
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background:transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.pagination>li>a, .pagination>li>span {
    background-color:#EEE!important;
    padding:3px!important;
    width:auto!important;
    font-size:20px;
    color:#90949C!important;
    box-shadow:unset!important;
    border-radius:unset!important;
    border: 0!important;
    outline: 0!important;
}
.pagination>li>a:hover{
    color:#A41E34!important;
    font-size:25px!important;
}
#formularios .form-control[type = file]{
    border:none;
}
#formularios .form-control input[type = text]{
    width: 100%;
}
#formularios textarea{
    max-width:440px;
    margin-top: 10px;
    box-shadow:unset;
    border-radius:0px!important;
    border: 1px solid black!important;
}
#lbl_msg{
    margin-bottom:15px!important;
}
#formularios label{
    margin-bottom: 10px;
    top:10px;
    width: auto!important;
}
.form-control,label,#textarea{
  padding-left:0px!important;
  padding-right:0px!important;
}
#enviar_botao1,#enviar_botao2,#enviar_botao3{
    box-shadow:unset;
    font-size: 21px;
    color:#A41E34;
    font-weight:bold;
    text-align:left;
    box-shadow:unset;
    border-radius:unset;
    border:none;
    background-color:#fff;
    float:left;
}
#enviar_botao:hover{
    background-color:#fff;
}
#enviar_botao .active{
    background-color:unset;
}

#geral {

    width:998px;
    width:1011px\9;
    height:auto;
    position:relative;
    left:50%;
    margin-left:-499px;
    margin-left:-505px\9;
    float:left;
    color:#545454;
}

/*///////////////////// TOPO ////////////////////////////////////////////*/

.carousel-control.control-seta{
   /* position:relative!important;*/
    position: absolute!important;
    bottom: 0;
    left: 0;
    margin:auto;
    width:auto;
    top: 45%!important;
    height: 50%!important;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.control-seta{
   /* position:relative!important;*/
    position: absolute!important;
    bottom: 0;
    left: 0;
    margin:auto;
    width:auto;
    top: 50%!important;
    height: 50%!important;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}



/*.carousel-control.carousel_2{
    position:relative!important;

  }
*/
/*
.left.carousel-control.carousel_2{
    float: left;
    width: auto;
    height:100%;
    padding-top:21%

    }
    .carousel-control.carousel_2 a{
    width: auto;

    }

.right.carousel-control.carousel_2{
    float:right;
    width: auto;
    height:100%;
    padding-top:21%
    }

*/
#td_right a{
    float:right!important;

  }
  #td_left a{
    float:left!important;

  }
#td_right{
    width:224px!important;
}

#td_left{
    padding-left: 2px;
    width:200px!important;   
}



/*
.carousel-control.carousel_2{
       position: absolute!important;
    bottom: 0;
    left: 0;
    margin:auto;
    width: -200%!important;
    top: 50%!important;
    height: 50%!important;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

*/
.carousel-inner>.item.active{
    margin:auto!important;
}
.wrap-carousel{
    height:auto;
}
#lojas_car,#row_carousel{
    width: 90%;
    margin:0px;
    margin:auto;
}
#lojas_home{
    padding:0px!important;
}
#row_carousel{
    margin-bottom:70px;
}

#logo{
    margin-left:0%!important;
    margin-top:33px;
    max-width: 69%!important;
}
#shopping-about{
    margin-top: 2%;
    border:1px #cecece solid;
    border-radius:20px;
    padding:50px!important;
    margin-bottom:70px;
}
.fotos-sobre{
    text-align:center;
}

.thumb-sobre img{
    margin-bottom: 9%;
}
#last-p{
    margin-bottom: 68px;
}


#shopping-about ul > li {
    max-width: 95%!important;

}
#shopping-about h4{
    margin-top:30px!important;
}
#shopping-about p {
    margin-top:30px!important;

}

#about-title{
    font-size:27px;
}

.navbar{
    border:0px!important;
    margin-bottom:0px!important;
    min-height:auto;
}

#navbar a {
    border: 0px;
    padding-top: 64px;
    min-height: 128px;
    color: #90949C;
    font-size: 24px;
}
#submit_hidden{
    display:none;
}

#navbar li>a:hover{
   color:#A41E34!important;
   background-color:#E9EBEE!important;
   }
.navbar-inverse {
     background-color: #fff!important;
    border:unset!important; 
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #DADADA;
    border-color:#DADADA;
    margin-left: 12%;
    border-color:#90949C!important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #EEE!important;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:#90949C!important;
}

.navbar a:active {
    color:#A41E34!important;
}

#topo {

    width:100%;
    position:relative;
    z-index:2;
    *height:49px;
}

#menu {

    width:950px;
    background:url(../images/menu.png) no-repeat top center;
    height:59px;
    padding: 5px 0 0 0;
    padding: 5px 0 0 0/9;
    color:#ffffff;
    
}

#menu ul{

    font-weight:bold;
    padding:0 0 0 70px;
    padding:0 0 0 30px/9;
    color:#ffffff;
    list-style:none outside;
}

#menu li{

   float:left;
   padding:0 15px 0 0;
   color:#ffffff;
    
}

#menu a:link{

   color:#ffffff;
   text-decoration:none;
   font-size:8pt; 
}

#menu a:visited{

   color:#ffffff;
   text-decoration:none;
   font-size:8pt;
}

#menu a:houver{

  color:#ffffff;
  text-decoration:none;
  font-size:8pt;    
}

.center{
    margin-top: 0px;
    margin-bottom: 4%;
    text-align: center;
}

#menu a:active{

   color:#90949C;
  text-decoration:none;
  font-size:8pt;    
}
#letters{
    margin-bottom: 70px;
    text-align:center;
}
#myCarousel {
    text-align:center;
   width: 100%!important;
    display: table!important;
    position:relative!important;
    padding-bottom:50px;
    
}
#logo_banner {
    position:relative;
    width:100%;
    height:auto;
    padding:0 0 0 0;
    padding:6px 0 0 0\9;
}
#logo_banner_right {
    width:100%;
    height:auto;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    max-height:487px!important;
    height:auto;
 }

 .carousel-inner.item.active{
    margin:auto!important;
    width:auto!important;
 }
  .carousel-inner.item{
    max-width: 89%!important;
 }
    

 }
 .carousel-inner > .item > img{
    
    min-height:487px!important;
 }

.inputLoginNome {

    width:75px;
    height:20px;
    color:#212353;
    border:1px solid #abacd1;
    display:block;
    padding:0 0 2px 0;
    margin:9px 0 0 0;
    font-size: 10px;
}

.inputSenhaNome {
    width:65px;
    height:20px;
    color:#212353;
    border:1px solid #abacd1;
    display:block;
    padding:0 0 2px 0;
    margin:9px 0 0 10px;
    font-size: 10px;
}

.inputLoginBT {
    background:url(../images/bt_login_ok.jpg) no-repeat center;
    background-color:#ffcb08;
    height:20px;
    width:17px;
    border:1px solid #abacd1;
    margin:9px 0 0 0;
    margin:10px 0 0 0/9;
}

.menu_logado {

    width:500px;
    width:520px\9;
    float:left;
    /*padding:10px 0 0 70px;*/
    padding:10px 0 0 50px;
    padding:10px 0 0 80px/9;
    color:#ffffff;
    font-weight:bold;
}

.menu_logado .welcome{
     display:inline-block;
    font-size:9pt;
    margin-left:84px;
    text-align:left;
    width:162px;
}

.menu_logado span{

    color:#ffffff;
}


/*///////////////////// HOME ////////////////////////////////////////////*/

#home_shopping {

    position:relative;
    float:left;
    width:656px;
    margin:-127px 0 0 25px;
    text-align:justify;
}

#conteudo {

    width:686px;
    height:auto;
    float:left;
}

.veja-mais-shopping {

    color:#2E3192;
    text-decoration:none;
    font-weight:bold;
    float:right;
    text-align:right;
}


#COL_ESQ {

    position:relative;
    float:left;
    width:312px;
    width:290px\9;
}

#busca_loja, #telefone{

    /*padding: 14px 0 0 25px;*/
    
}

#busca_loja h1, #telefone h1{

    background:url(../images/titulo-loja.png) no-repeat top left;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:250px;
    height:42px;
    float:left;
}

#busca_loja span{

    font-size:10px;
    color:#545454;
    font-weight:normal;
    margin: 0 0 0 15px;
}

#busca_loja a:link{

    font-size:11px;
    color:#545454;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja a:visited{

    font-size:11px;
    color:#545454;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja a:hover{

    font-size:11px;
    color:#545454;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja a:active{

    font-size:11px;
    color:#545454;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja h2{

    width:312px;
    width:290px\9;
    float:left;
    padding: 10px 0 0 0;
    margin:0 auto;
}

#esq_eventos{

    padding: 50px 0 0 25px;
}

#esq_eventos h1{

    background:url(../images/titulo-loja.png) no-repeat top left;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:312px;
    width:290px\9;
    height:42px;
    float:left;
}

#esq_eventos span{

    font-size:10px;
    color:#545454;
    font-weight:normal;
}

#esq_trabalhe_con  {

    padding: 100px 0 0 25px;
    padding: 20px 0 0 25px\9;
}

#esq_trabalhe_con img {

    float:left;
}

#esq_trabalhe_con h1 {

    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 5px 0 10px;
    padding: 40px 5px 0 10px\9;
    margin:15px 0 0 0;
    float:left;
    float:none\9;
}

#esq_trabalhe_con span {

    font-size:12px;
    color:#545454;
    font-weight:normal;
    width:190px;
    float:left;
    float:none\9;
    padding:5px 0 0 10px;
}

#esq_trabalhe_con a:link {

    font-size:12px;
    color:#545454;
    font-weight:normal;
    text-decoration:none;
    
}

#esq_trabalhe_con a:visited {

    font-size:12px;
    color:#545454;
    font-weight:normal;
    text-decoration:none;
}

#esq_trabalhe_con a:hover {

    font-size:12px;
    color:#545454;
    font-weight:normal;
    text-decoration:none;
}

#esq_trabalhe_con a:active {

    font-size:12px;
    color:#545454;
    font-weight:normal;
    text-decoration:none;
}

#esq_passeio_sus {
   
    padding: 60px 0 0 25px;
    padding: 20px 0 0 25px\9;
}

#esq_passeio_sus img{
   
    float:left;       
}

#esq_passeio_sus span{
   
    font-size:10px;
    color:#094303;
    font-weight:normal;
    width:200px;
    float:left;
    padding:10px 0 0 10px;
}

#esq_casdastre-se{
   
    padding: 60px 0 0 25px;
    padding: 20px 0 0 25px\9;
}

#esq_casdastre-se h1 {

    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 5px 0 10px;
    padding: 40px 5px 0 10px\9;
    margin:15px 0 0 0;
    float:left;
    float:none\9;
}

#esq_casdastre-se img{
   
    float:left;
    padding:0 0 50px 10px;     
}

#esq_casdastre-se span{
   
    font-size:12px;
    font-weight:normal;
    width:200px;
    float:left;
    padding:8px 0 5px 10px;
}

#busca_loja_pagina {
     
    padding: 15px 0 0 80px;

}


#busca_loja_pagina h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#busca_loja_pagina h2{

    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:100px;
    height:42px;
    float:right;
}

#busca_loja_pagina span{

    width:600px; 
    float:left;
    text-align:justify;
    padding: 15px 0 0 25px;
}

.input_busca {

    background: url(../images/input_busca.png) no-repeat top center transparent;
    width:312px;
    width:290px\9;
    height:22px;
    color:#545454;
    padding:0 5px 0 5px;
    border:none medium;
}

.busca_alfa_numerica_lateral{
  clear:both;
  width:200px;
  margin:0px;
  padding-top: 10px;
}

.input_busca_lateral {

    background: url(../images/fundo_tipo_loja.png) no-repeat top center transparent;
    width:199px;    
    height:21px;
    color:#545454;  
    margin-top: 9px;      
    /*
    border:1.5px solid #CCC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    */
}


#busca_loja_alfabeto {
   
    width:500px !important;
    height:25px !important;
    
}


#busca_loja_alfabeto a:link{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja_alfabeto a:visited{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja_alfabeto a:hover{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#busca_loja_alfabeto a:active{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#pagina_eventos {
     
    padding: 15px 0 0 80px;

}


#pagina_eventos h1{

    background:url(../images/titulo-loja.png) no-repeat top left;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_eventos h2{

    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 0 10px;
    width:500px;
    height:42px;
    float:left;
}

#pagina_eventos span{

    width:500px;
    height:42px;
    float:left;
}


#pagina_eventos a:link{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#pagina_eventos a:visited{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#pagina_eventos a:hover{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#pagina_eventos a:active{

    font-size:12px;
    color:#2E3192;
    font-weight:bold;
    text-decoration:none;
}

#pagina_novidades {
     
    padding: 15px 0 0 80px;

}


#pagina_novidades h1{

    background:url(../images/titulo-loja.png) no-repeat top left;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_contato {
     
    padding: 15px 0 0 80px;

}


#pagina_contato h1{

    background:url(../images/titulo-loja.png) no-repeat top left;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:170px;
    height:42px;
    float:left;
}

#pagina_contato span{

    float:left;
    padding: 15px 0 0 10px;
    width:450px;
}


#pagina_sac {
     
    padding: 15px 0 0 80px;

}


#pagina_sac h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_sac span{

    padding: 15px 0 0 10px;
    width:450px;
    float:left;
}

#pagina_sac p{

    padding: 15px 0 0 10px;
    width:500px;
    float:left;
    text-align:justify;
}

#pagina_shopping {
     
    padding: 15px 0 0 80px;

}


#pagina_shopping h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:250px;
    height:42px;
    float:left;
}

#pagina_shopping span{

    padding: 15px 0 0 10px;
    width:550px;
    float:left;
    text-align:justify;
}

#pagina_cadastro {
     
    padding: 15px 0 0 80px;

}


#pagina_cadastro h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_cadastro span{

    padding: 15px 0 0 10px;
    width:550px;
    float:left;
}

#pagina_servicos {
     
    padding: 15px 0 0 80px;
}


#pagina_servicos h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_servicos span{

    padding: 15px 0 0 10px;
    width:550px;
    float:left;
}

#pagina_comercializacao {
     
    padding: 15px 0 0 80px;
}


#pagina_comercializacao h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:210px;
    height:42px;
    float:left;
}

#pagina_comercializacao span{

    padding: 15px 0 0 10px;
    width:550px;
    float:left;
}

#pagina_comochegar {
     
    padding: 15px 0 0 80px;

}


#pagina_comochegar h1{

    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:200px;
    height:42px;
    float:left;
}

#pagina_comochegar span{

    padding: 15px 0 0 10px;
    width:550px;
    float:left;
}

#COL_BG {
    float:left;
    width:902px;
}

#COL_BG_CINE {
    position:relative;
    height:730px;
    width:902px;
    z-index:2;
}

#COL_BG_ALIMENTACAO {
    background:url(../images/RASCUNHO/FLASHPROVISORIOc.png) no-repeat right top;
    position:relative;
    height:730px;
    width:902px;
    z-index:2;
}

#COL_BG2 {
    background:url(../images/RASCUNHO/FLASHPROVISORIO2.jpg) no-repeat top;
    position:relative;
    height:730px;
    width:902px;
    z-index:2;
}

#COL_BG-home {
    
    height:350px;
    width:998px
}

#COL_CEN {
    float:left;
    width:686px;
    color:#333;
    font-size:13px;
    color:#545454;
}

#text_alimentacao {
    float:left;
    width:688px;
    color:#333;
    font-size:13px;
    line-height:22px;
    color:#848383;
}

#foto_interna {
    background:url(../images/foto_entrada.png);
    float:right;
    width:221px;
    height:194px;
}

#foto_interna2 {
    background:url(../images/foto_entrada2.png);
    float:right;
    width:221px;
    height:194px;
}

#COL_CEN_PADRAO {
    position:relative;
    float:right;
    margin-top:255px;
    margin-left:195px;
    width:688px;
    z-index:4;
    color:#333;
    font-size:13px;
    line-height:22px;
    color:#848383;
}

#COL_CEN_CINE {
    position:relative;
    float:right;
    margin-top:255px;
    margin-left:215px;
    width:688px;
    z-index:4;
    font-size:13px;
    line-height:22px;
    color:#333;
    color:#848383;
}

#prog_cine {
    float:right;
    width:350px;
    height:auto;
    font-weight:bold;
    color:#848383;
    font-size:13px;
}

/*///////////////////// RODAPÉ ////////////////////////////////////////////*/

#rodape {

    float:left;
    position:relative;
    z-index:9;
    font-size:11px;
    width:100%;
    line-height:21px;
    background:url(../images/fundo_rodape.png) no-repeat top center;
    height:345px;
    text-align:center;
}

#rodape_msocias {

    width:998px;
    height:231px;
}

#rodape_msocias span{
    
    float:right;
    margin: 40px 65px 0 0;
}

#rodape_msocias h1{

    float:left;
    color:#2e3192;
    font-size: 12px;
    font-weight:bold;
    padding: 5px 5px 0 0;
}

#rodape_menu {

    width:998px;
    height:60px;
    text-align:center;
    
}

#rodape_menu ul{

    font-weight:bold;
    padding:10px 0 0 55px;
    padding:10px 0 0 15px\9;
    color:#2e3192;
    list-style:none outside;
}

#rodape_menu li{

   float:left;
   padding:0 22px 0 0;  
}

#rodape_menu a:link{

    color:#2e3192;
    text-decoration:none;
    font-size:9pt;
}

#rodape_menu a:visited{

    color:#2e3192;
    text-decoration:none;
    font-size:9pt;
}

#rodape_menu a:houver{

    color:#2e3192;
    text-decoration:none;
    font-size:9pt;
}

#rodape_menu a:active{

    color:#2e3192;
    text-decoration:none;
    font-size:9pt;
}

#rodape_logos {

    width:998px;
    height:55px;
    
}

#rodape_logos span{

    float:left;
    margin: 5px 0 0 65px;
}

#rodape_logos h1{

    float:left;
    color:#000000;
    font-size: 10px;
    font-weight:bold;
    padding: 5px 5px 0 0;
}

#rodape_logos h2{

    float:right;
    color:#000000;
    font-size: 10px;
    font-weight:bold;
    padding: 5px 40px 0 0;
    text-align:right;
}

#rodape_logos a:link{

    color:#000000;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    float:left;
}

#rodape_logos a:visited{

    color:#000000;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    float:left;
}

#rodape_logos a:houver{

    color:#000000;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    float:left;
}

#rodape_logos a:active{

    color:#000000;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    float:left;
}

/*///////////////////// HOME ////////////////////////////////////////////*/

#vitrine {
    background:url(../images/tit_vitrine.jpg) top no-repeat;
    color:#FFF;
    padding-top:32px;
    width:146px;
    height:213px;
}

#vitrine .vitrine_img {
    height:176px;
}

#vitrine .bot_vitrine {
    background:url(../images/bot_vitrine.jpg) no-repeat;
    color:#FFF;
    font-size:14px;
    padding-top:7px;
    height:35px;
    text-align:center;
}

#lgr {
    *position: absolute;
    *top: 548px;
    background:url(../images/tit_lgr.jpg) top no-repeat;
    color:#FFF;
    margin-top: 40px;
    padding-top:32px;
    width:146px;
    height:131 
}

#lgr .lgr_img {
    height:176px;
}

#lgr .bot_lgr {
    background:url(../images/bot_lgr.jpg) no-repeat;
    color:#FFF;
    font-size:14px;
    padding-top:7px;
    height:32px;
    text-align:center;
}

#novidades {
    width:321px;
    height:385px;
    font-size:10px;
    float:left;
  margin:0 0 0 22px;    
}


#novidades a {
    color:#12dbdb;
    text-decoration:none;
}

#novidades a:hover {
    text-decoration: underline;
}

#topo_novidades {

    width:321px;
    height:44px;
    float:left;
    background:url(../images/topo_boxes.png) no-repeat top center;
}

#topo_novidades h1{

    color:#2e3192;
    font-size: 18px;
    font-weight:100;
    padding: 0px 0 0 24px;
}

#novidades #imgdsc1{
  color:#2e3192;
  font-size: 18px;
  font-weight:100;
  line-height: 22px;  
}
.ig-plugin{
    width:300px!important;
    height:500px!important;
}

#midias_box{

    width:686px;
    float:left;
    height:340px;
    background:url(../images/fundo-midias.png) no-repeat top center;
    /*margin:-140px 0 0 0;*/
    margin: 0;
}

#twitter_box{

    width:361px;
    float:left;
    padding: 10px 0 0 40px;
    height:370px;
    
}

#face_box{

    width:281px;
    float:left;
    padding: 20px 0 0 0; 
    height:310px;
}

#face_box_int{

    /*width:236px;*/
    float:left;
    height:305px;
    overflow:hidden;
   /* padding: 0 0 0 30px;*/
    padding: 0 ;
}

#face_box_int iframe{

    padding: 5px 0 0 20px; 
    margin:-6px 0 0 -21px;
    width: 100% !important;
     
}

.style_titulo {
    line-height:36px;
    font-size:10px;
    color:#FFFFFF;
    font-weight:bold;
    padding-right:5px;
}

.style_cinema {
    color:#004e69;
    font-weight:bold;
}

.style_dorado {
    color:#ffcc00;
}

#emcartaz {
    
    *top: 328px;
    line-height:32px;
    text-align:right;
    font-size:10px;
    color:#12dbdb;
    width:309px;
    height:297px;
    float:left;
}

#emcartaz a {
    color:#12dbdb;
    text-decoration:none;
}

#emcartaz a:hover {
    text-decoration: underline;
}

#emcartaz .emcartaz_img {
    height:297px;
}

#emcartaz .emcartaz_bot {
    background:url(../images/bot_emcartaz.png) no-repeat;
    color:#12dbdb;
    font-size:14px;
    height:34px;
    text-align:center;
}

.bt_seta {
    position:absolute;
    margin:7px 20px 0px 20px;
    background:url(../images/bt_seta.jpg);
    width:20px;
    height:20px;
    line-height:20px;
}

.inputLojaNome {
    
    float:left;
    width:179px;
    height:22px;
    color:#212353;
    border:none;
    display:block;
    padding:0 0 2px 0;
    margin:9px 0 0 0;
    font-size: 10px;
    background:url(../images/bg_busca_input.png) no-repeat center;
    
}


.inputLojaBT {

    float:left;
    background:url(../images/bg_busca_bt.png) no-repeat center;
    height:22px;
    width:18px;
    border:none;
    margin:9px 0 0 0;
    margin:10px 0 0 0/9;
}

.menu-texto {

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 10px;
     line-height:8px;
     line-height:2px\9;
}

.login-text {

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 5px;
     line-height:8px;
     line-height:2px\9;
}

.login-text  a:link{

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 5px;
     line-height:8px;
     line-height:2px\9;
}

.login-text a:visited{

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 5px;
     line-height:8px;
     line-height:2px\9;
}

.login-text a:hover{

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 5px;
     line-height:8px;
     line-height:2px\9;
}

.login-text a:active{

     font-size:10px;
     color:#FFFFFF;
     text-align:right;
     text-decoration:none;
     margin:0 0 0 5px;
     line-height:8px;
     line-height:2px\9;
}

.selectAtividade {
    background-color:#036;
    width:140px;
    height:32px;
    color:#0C9;
    font-weight:bold;
    border:none;
    display:block;
    padding:8px 3px 0 3px;
    border:none;
    font-size:12px;
}

#loginsenha {
    padding:2px 0 0 153px;
    margin:0;
    float:left;
    display:block;
    /*width:560px;*/
}

#loginsenha ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

#loginsenha ul li {
    margin:0px;
    float:left;
    padding:0px;
}

#style_eventos {
    width:700px;
    padding-bottom:5px;
    line-height:30px;
}

#style_eventos a {
    color:#b5b4b4;
    text-transform:uppercase;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    border-bottom:4px solid #b5b4b4;
    margin: 0 10px 0 0;
}

#style_eventos a:hover {
    border-bottom:4px solid #009999;
    color:#009999;
    text-decoration:none;
}

#style_eventos a.current {
    border-bottom:4px solid #b5b4b4;
    color:#009999;
    text-transform:uppercase;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
}

/*#style_eventos{
    margin-top:30px;
    width:688px;
    text-align:left;

}

#style_eventos a{
    font-size:15px;
    text-decoration:none;
    color:#004e69;
}

#style_eventos a:hover{
    background-color:#eaeaea;
}

.s*/tyle_tituloeventos {
    color:#848383;
    font-size:14px;
}

.interna_style1 {
    color:#ffcc00;
    font-size:9px;
}

a.cinema {
    text-decoration:none;
    color:#848383;
    font-size:12px;
    position:absolute;
    float:left;
    margin:163px 0 0 20px;
}

p.larguratexto {
    width:688;
}

#prog_cine {
    float:left;
    margin-top:-38px;
}

.tit_cinema {
    font-size:18px;
    color:#004e69;
}

.horariosPrecos {
    width:700px;
    height:auto;
    margin-top:195px;
    position:absolute;
}

.txtmusgo {
    font-size:12px;
}

#resultado_busca {
    width:500px;
    float:left;
}

.titulobranco {
    color:#FFF;
}

.bordaazul {
    border:2px solid #004e69;
}

#infoFilme {
    width:690px;
    /*  min-height:400px;*/
    float:left;
    line-height:30px;
}

#filme {
    position:relative;
    float:left;
    width:220px;
}

#infoCine {
    position:relative;
    float:left;
    padding-left:10px;
    width:245px;
    height:auto;
    line-height:18.7px;
    background-color:#F9F9F9;
}

objects {
outline:none;
}

.txtmusgo { color:#18474E; font-size:14px; text-decoration:none;}
.txtmusgo a:link {color:#09357d; text-decoration:none; font-weight:bold; text-decoration:none;}
.txtmusgo a:visited {color:#17212d; text-decoration:none;}
.txtmusgo a:hover {color:#233244; text-decoration:underline;}
.txtmusgo a:active {color:#233244; text-decoration:none;}

/*Lista e eventos*/
.ContainerEventos{
    width:100%;
    height:auto;
    float:left;
    margin:0;
    padding:0;
    word-wrap:break-word;
    line-height:normal;
    margin:5px 0 50px 0;
}

.ContainerEventos h2{
    border-left:4px solid #009999;
    text-transform:uppercase;
    font-size:18px;
}

.ContainerEventos .evento{
    float:left;
    width:100%;
    height:auto;
    margin:0 0 10px 0;
}

.ContainerEventos .evento a, a:houver{
    text-decoration:none;
    width:auto;
    cursor:pointer;
    border:none;
}


.ContainerEventos div{
    margin:10px 0 0 0;
    padding:0;
    float:left;
    width:100%;
    height:auto;
}

.ContainerEventos div .nomeEvento {
    float:left;
    width:100%;
    height:auto;
    font-weight:bold;
    color:#054856 !important;
}

.ContainerEventos div .nomeEvento a{
    color:#999 !important;
    font-size:12px!important;
    text-decoration:none;
    border-bottom:2px solid #75B3BD !important;
    height:5px;
}

.ContainerEventos p{
    margin:0;
    padding:0;
    float:left;
    width:100%;
    height:auto;
    word-wrap:break-word;
    line-height:20px;
    color:#aaa;
    text-transform:none!important;
    font-size:12px;
    font-weight:normal!important;
}

.ContainerEventos div img{
    display:none;
    visibility:hidden;
}

.ContainerEventos .nomeEvento{
    float:left;
    width:auto;
}

.ContainerEventos .dataEvento{
    float:right;
    width:auto;
}

#gostp0,#gostp1,#gostp2,#gostp3,#gostp4{
    display:none;
}

#pag_cadastro {
    
    padding: 10px 0 0 25px;
}

#pag_cadastro h1{
    
    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:180px;
    width:200px\9;
    height:42px;
    float:left;
}

#pag_cadastro span{
    
    float:left;
    padding: 30px 0 0 0;
    width:180px;
}

#pag_cadastro strong{
    
    color:#F00F00;
    font-size: 10px;
    font-weight: 100;
}

.pag_cadastro_input_1{
    
    width:250px;
    border:1px solid #bdbdbd;
    margin:2px 0 6px 0;
}

#pag_trabalhe {
    
    padding: 10px 0 0 25px;
}

#pag_trabalhe h1{
    
    background:url(../images/titulo-loja.png) no-repeat top right;
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0 0 10px;
    width:240px;
    width:260px\9;
    height:42px;
    float:left;
}

#pag_trabalhe span{
    
    float:left;
    padding: 30px 0 0 0;
    width:180px;
}

#pag_trabalhe strong{
    
    color:#F00F00;
    font-size: 10px;
    font-weight: 100;
}

.pag_trabalhe_input{
    
    border:1px solid #bdbdbd;
}

.trabalhe-codigo{
    
    border:1px solid #bdbdbd;
    margin:2px 0 6px 0;
    width:40px;
    
    
}

.trabalhe-tele{
    
    border:1px solid #bdbdbd;
    margin:2px 0 6px 0;
    width:100px;
}

.input-padrao{
    
    border:1px solid #bdbdbd;
    margin:2px 0 6px 0;
}
#novidades-exibicao{
   position: relative;
}
#novidades-titulo{
   background: url("../images/backgorund-novidades.PNG") no-repeat scroll 140px 15px #CCCCCC;
    border-radius: 20px 20px 0 0;
    box-shadow: 3px -2px 41px #C1C1C1;
    height: 45px;
    margin-top: 40px;
    width: 686px;
}
#novidades-conteudos{
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 3px -2px 41px #C1C1C1;
    /*height: 510px;*/
      height: 150px;
      margin: 0;
      overflow: hidden;
      padding: 25px 0 0 25px;
      position: relative;
      width: 685px;
}
#novidades-vermais{

   background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px -2px 41px #C1C1C1;
    height: 45px;
    margin-bottom: 40px;
    width: 686px;

}

#novidades-titulo h1{
    color: #2E3192;
    font-size: 18px;
    font-weight: 100;
    padding: 18px 0 0 24px;
    font-family: arial;
    
}

#novidades-vermais a{
    background: none repeat scroll 0 0 #A8A8A8;
    border-radius: 46px 0 20px 0;
    float: right;
    font-family: arial;
    font-size: 20px;
    font-weight: 800;
    height: 45px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    width: 215px;
}
#box_novidades_dir{
   float: left;
    height: 85%;
    margin-right: 40px;
    width: 32%;
}
.box_novidades_esq{
   float: left;
    margin-top: 25px;
    width: 58%;
}

.text-link a{
    color: #2E3192;
    font-family: arial;
    font-size: 19px;
    font-weight: 100;
    text-decoration: none;
}
.image-nov{
    height: 100%;
    width: 100%;
}

footer{
    background-color: #3c3c3b;
    padding-top: 15px;
    padding-bottom: 10px;
}

footer a{
    /*color: #e62041;*/
    color: #ffffff;
}
footer p, footer span{
    color: #ffffff;  
}

.icones-col{
    text-align: right;
    width:auto!important;
}

.image_footer{
    margin-right: 10px;
}


.font-bold h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.ig-root ul {
    min-height: 361px!important;
}
.midias-home{
    margin-left:0px!important;
    margin-right:0px!important;
    margin:auto;
    background-color: #cdcdcc;
}
.info-home {
    margin-left:0!important;
    margin-right:0!important;
    background-color:#fff;
    margin-top:3%;
    padding-top:1%;
    padding-bottom:1%;
}
.info-home h4{
    font-weight:bold;
}
.midias{
    margin:auto!important;
}

.color-red{
    color:#A41E34;
}

.nov{
    margin-top:2%;
}

.item_end{
    margin-bottom: 20px;
}

.item_end h4{
    color: #000000;
}

footer .color-red{
  color:#A41E34;
}

footer .color-red:hover{
  color: #ffffff;
  text-decoration: none;  
}
.control{
    width:25px!important;
    height:25px!important;
}
.carousel-control.right{
     background-image:unset!important;
}
.carousel-control.left{
    background-image:unset!important;
}
.lojas{
    display: table;
}
#lojas_body{
    display:table;
    background-color:#EEE;
    width:100%;
    margin-top:0px;
    padding:0px;
    min-height:100%!important;
}

.lojas img{
    width: 100%;
}
#title_busca{
    font-size: 58px!important;
}
#title_loja{
    font-size: 58px!important;
    margin-bottom:0px;
}
.title_home{
    font-size: 58px!important;
    margin-top: 7%;
    margin-bottom:0px!important;
    color:#0B0D12;
}
.title_midias{
    font-size: 58px;
    
    color:#0B0D12;
}
.info_home{
    margin-top:10px;
}
.info_home p{
    margin-bottom:0px;
}
.info_home h4{
    margin-top:0px;
}
#esquerda{
    margin:0px!important;
    padding:0px!important;
    width:20%;
}

#centro{
    margin:0px!important;
    padding:0px!important;
    width:80%;
}

#direita{
    margin:0px!important;
    padding:0px!important;
    width:20%;  
}


.lojas .col-md-4{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}
#lupa{
    float:left;
    font-size:34px;
    color:#A41E34;
    transform: scaleX(-1)!important;
    -moz-transform: scaleX(-1)!important;
    -webkit-transform: scaleX(-1)!important;
    -ms-transform: scaleX(-1)!important;
}
.slide{
    display: table!important;
}
.lojas .col-md-8{
    float: none;
}
#loja_link a{
    color:#A41E34!important;
    text-decoration:none;
}

.form-horizontal .control-label {
    font-weight:lighter;
    text-align: left !important;
}

.form-group-center{
    text-align: center;
    margin-top: 20px;
}


.col-md-12-trabalhe-conosco{
    margin-bottom: 30px;
}
 #row_carousel{
    width: 88%;
    margin:auto;
 }
  #row_carousel img{
    max-width:300px;
    max-height:300px;
    margin:3px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
 }

 #seta-left-2{
    float:left;
 }
 #seta-right-2{
    float:right;
 }


 #home_content{
    margin-top:20px;
    margin-bottom:60px;
 }

.col-md-1 .cont{
    width:auto;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 .info_loja{
    text-align:center;
    margin-bottom:30px;

 }
 .line{
    margin-top:40px;
 }
 .foto_loja{

 }
 
 .logo_loja{
    max-width:200px; 
    max-height:200px;
    margin-bottom:10px;
 }
 .exibe_content{
    margin-bottom:50px;
 }
 .search-query:focus + button {
        z-index: 3;   
  }

#seta-left,#seta-right{
    width:100%;
    height:40px;
    max-width:40px;
    max-height:40px;
}
#seta-left-2,#seta-right-2{
    max-width:40px;
    max-height:40px;
}

.form-control.selects{
   padding-top: 6%!important;
}
.links-novidade{
    background-color:#fff;
    min-height:500px!important;
}

/*RODAPÉ*/
.info{
    margin-top: 10px;
    line-height: 1.3;
    color:#90949C;
}
#div_link{
  text-align:center;
  padding-top: 28%;
}
#click_link{
    font-weight:bold;
    text-align:left;
    
}
#click-link a{
    text-decoration:none!important;
}


.social{
    text-align:center;
}
.social img{
    padding-left:10px;
}
.info_titles{
    font-size:17px;
}
.func{

    padding-left: 52px;
}


.promo_link{
    text-align:center;
    text-decoration:none!important;
    font-size:15px!important;
    color:#999;
}
.promo_link:hover{
    text-decoration:none;
    font-size:16px;
    transition: 0.7s all ease;
}

#participe{
    margin-bottom:5%;
    text-align:center;
    font-weight:bold;
}
.promo{
    
    padding-left: 5%!important;
    height:100%;
}
.promo .p7{
    text-align:left!important;
}
#icones-sociais{
    padding-top: 18%;

}
.icones-col{
    padding-top: 0.5%;
}
.cont_info{
    padding-left:0px!important; 
}
.trabalhe-conosco{
   padding-left: 0px!important;
}
#form-fale{
    margin-left: 3%;
}
.contato.fale{
    padding-left:0px;
}
.anexe{
        margin-left: 4%;
}
#img-promo{
    max-width:600px!important;
    height:auto;
    padding-left:2%;
    width:100%;
    margin-bottom:5%;
}
.conteudo-novidade{
    padding-left:0px!important;
}

.img-rodape{
    vertical-align:unset!important;
    max-width: 120px;
}

#logo-div{
    text-align:center;
}
#logo-div img{
    width:200px;
    height:200px;
}

.imagens-rodape{
    vertical-align:unset!important;
    text-align:-webkit-center!important;
}

#oficce{
    height:56px;
}

 .right.carousel-control.carousel_2,.left.carousel-control.carousel_2{
    top:45%;
    width:auto!important;
    background-image:none!important;
    background-color:transparent!important;
    text-shadow:none!important;
   }


/* OVERLAY EFFECTS */
.loja-thumb{
    margin-bottom: 20px!important;
}
.loja-info{
    color:#fff;
    font-weight:bold;
    font-size:18px;
}


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;    
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(164,30,52,0.8);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
font-weight:bold;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.active-link{
    font-weight:bold!important; 
    color:#A41E34!important;
}



.hovereffect-2 {
    
max-width:300px;
max-height:300px; 
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect-2 .overlay-2 {
width:300px;
height:300px; 
max-width:300px;
max-height:300px;    
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(164,30,52,0.8);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect-2 img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect-2 h2 {
text-transform:uppercase;
color:#fff;
font-weight:bold;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect-2 a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect-2 a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect-2:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}


.hovereffect-2 p {
    color:#fff;
}

.hovereffect-2:hover .overlay-2 {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect-2:hover h2,.hovereffect-2:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect-2:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.imagem-santa-isabel{    
    max-width: 143px !important;
}

/*.imagem-Office-Shopping{
    max-width: 119px;    
}*/

.imagem-sobre{
    max-width: 336px !important; 
    margin-top: 62px;
}


/* inicio Novidades Carosel */

 .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('../img/a02.png') no-repeat;
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
/* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
        .jssort11 .p {    
                    position: absolute;    
                    /*top: 5px;
                    bottom: 50px;    */
                    left: 0px;    
                    width: 370px;    
                    height: 150px; 

                    /*background: #181818;*/
                }
        
        .jssort11 .tp {    
                    position: absolute;    
                    top: 0;    
                    left: 26px;  
                    bottom: 50px;  
                    width: 100%;    
                    height: 100%;    
                    border: none;
                }

        .jssort11 .i, .jssort11 .pav:hover .i {    /*imagem*/
                    position: absolute;    
                   /* top: 3px;    
                    left: 3px;    
                    width: 70px;    
                    height: 30px; */
                    width: 90px;
                    /*height: 50px;*/
                    border: white 1px dashed;
                }

        * html .jssort11 .i {    
                    width /**/: 72px;    
                    height /**/: 32px;
                }
        
        .jssort11 .pav .i {    
                    border: white 1px solid;
                }
        .jssort11 .t, .jssort11 .pav:hover .t {
                    position: absolute;    
                    /*top: 3px;    */
                    left: 98px;    
                    width: 229px;    
                    height: 32px;    
                    line-height: 32px;    
                    text-align: left;    
                    color: #3c3c3b!important;   
                    font-size: 19px;    
                    font-weight: 700;
                    padding-bottom: 15px;
                }

        
        .jssort11 .pav .t, .jssort11 .p:hover .t {    
                    color: #23527c;
                }

        .jssort11 .c, .jssort11 .pav:hover .c {    
                    position: absolute;    
                    top: 14px;    
                    left: 99px;    
                    /*width: 294px;    
                    height: 32px;    
                    line-height: 32px;*/    
                    color: #D13138;     
                    font-size: 17px;    
                    font-weight: 400;    
                    overflow: hidden;
                    text-align:justify;
                    margin-top: 21px;

                }

        .jssort11 .pav .c, .jssort11 .p:hover .c {    
                    color: #D13138;                
                }

        .jssort11 .t, .jssort11 .c {    
                    transition: color 2s;    
                    -moz-transition: color 2s;    
                    -webkit-transition: color 2s;    
                    -o-transition: color 2s;
                 }

        .jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {    
                    transition: none;    
                    -moz-transition: none;    
                    -webkit-transition: none;    
                    -o-transition: none;
                }

        .jssort11 .p:hover, .jssort11 .pav:hover { /*houve*/
                    background: #c6c6c6;
                }

        .jssort11 .pav, .jssort11 .p.pdn {    /*houver sozinho*/
                    background: #c6c6c6;
                }
        .img-carousel{/*Imagem maior*/
            max-width:738px!important;
            /*min-width: 1000px!important;*/
            /*min-height:773px!important;*/
            max-height:753px!important;
            /*margin-bottom: 28px!important;*/
        }

        .conteudo{ /*conteudo abaixo da imagem*/
            font-size: 20px!important;    
            font-weight: bold!important;   
            font-family:'tt_normal', Arial, Helvetica, sans-serif;
            padding-left: 40px!important; 
            padding-right: 40px!important; 
            padding-top:  28px!important; 
            text-align: justify;
        }
        .posicao-selecao{
            padding-top:-165px!important; 
        }


      
/*fim novidades CArosel */

  /*.glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons-Halflings' !important;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -moz-osx-font-smoothing: grayscale;
        }*/


/* carrosel novidades */
﻿.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

.alinhamento{
    padding-left: 17px !important;
    cursor: pointer;
}

.conteudo-margem{
    padding-top: 10px !important;
}

.novidade_item{
    display: none;
}

.habilitado{
   display: block;
}

