<style type="text/css">

/* All Styles Optional */

* {
font-family:arial;
font-size:10pt;
}
div#show3 {
background-color:#efefef;
width:140px;
margin:0 auto;
border:1px solid #444444;
}
div#show3 table td, div#show4 table td {
height:24px;
background-image:url('38.gif');
}
div#show4 table td {
background-image:url('40.gif');
}
div#show3 table input,  div#show4 table input {
outline-style:none;
}
</style>

<div id="COL_ESQ">
			<div id="menu_lateral">
<a style="cursor:pointer" href="http://www.plazamacae.com.br/shopping.php">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"  width="149" height="103">
      <param name="movie" value="swf/logo.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="swf/logo.swf" width="149" height="103" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
      </object></a>

      <br /><br />

      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"  width="148" height="370">
      <param name="movie" value="swf/menu.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="swf/menu.swf" width="148" height="370" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
      </object>

	
  </div>
            
  <br /><br />
        
		<div id="lgr" style="background-repeat:no-repeat;"> <a href="http://www.lgr.com.br/" target="_blank"><img src="images/lgr_logo.jpg" width="146" height="67" border="0" /><br/ style="clear: both;"></a>
        <a href="http://www.plazamacae.com.br/lgr.php"><img src="images/bot_lgr.jpg" width="146" height="32" border="0"/></a>
		 <!-- <script type="text/javascript">
          //Notes on Parameters: The only required parameter is the slides_array_name.  If Width is used, so must Height.
          //Interval is optional too.  It is always last, either fourth after Width and Height or second after Slides_array_name.
          //Usage: new inter_slide(Slides_array_name, Width, Height, Interval)
          new inter_slide(slides1)
          </script>-->
  </div>
</div>

<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
swfobject.registerObject("FlashID2");
//-->
</script>
