<div id="conteudo">
	
	<div id="COL_BG">
            	    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="750" height="220" align="right">
      <param name="movie" value="swf/banner_alimentacao.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="swf/banner_alimentacao.swf" width="750" height="220" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
    </object>
    </div>

	<div id="COL_CEN">
    
    <p><img src="images/tit_alimentacao.jpg" width="304" height="59" /></p>
    
    <p class="larguratexto"><br />
    
    O shopping Plaza Maca&eacute; oferece uma pra&ccedil;a de alimenta&ccedil;&atilde;o completa para voc&ecirc;. S&atilde;o diversas op&ccedil;&otilde;es de restaurantes, lanchonetes e caf&eacute;s para deixar seus momentos de compras e lazer muito mais prazerosos. Escolha a op&ccedil;&atilde;o que mais combina com a sua fome e aproveite!    </p>
    <table width="685" border="0" cellspacing="10">
      <tr>
        <td width="213"><span class="interna_style1">&gt;&gt;</span> Batataria</td>
        <td width="213"><span class="interna_style1">&gt;&gt;</span>  Giraffas</td>
        <td width="213"><span class="interna_style1">&gt;&gt;</span>  Megamatte</td>
      </tr>
      <tr>
        <td><span class="interna_style1">&gt;&gt;</span>  Bob`s</td>
        <td><span class="interna_style1">&gt;&gt;</span>  KFC</td>
        <td><span class="interna_style1">&gt;&gt;</span> Papo Furado</td>
      </tr>
      <tr>
        <td><span class="interna_style1">&gt;&gt;</span>  Camar&atilde;o &amp; Cia</td>
        <td><span class="interna_style1">&gt;&gt;</span>  Kopenhagem</td>
        <td><span class="interna_style1">&gt;&gt;</span> Patroni Pizza</td>
      </tr>
      <tr>
        <td><span class="interna_style1">&gt;&gt;</span>  Cia da Empada</td>
        <td><span class="interna_style1">&gt;&gt;</span>  Le Chocolatier</td>
        <td><span class="interna_style1">&gt;&gt;</span> Spoleto</td>
      </tr>
      <tr>
        <td height="22"><span class="interna_style1">&gt;&gt;</span>  Conversadeira Bar e Botiquim</td>
        <td><span class="interna_style1">&gt;&gt;</span>  Mc Donalds</td>
        <td><span class="interna_style1">&gt;&gt;</span> Yong Xiang</td>
      </tr>
    </table>
    <p><span class="style_cinema">Hor&aacute;rio de Funcionamento</span><br />
      <strong>Segunda a s&aacute;bado</strong><br />
De 10h &agrave;s 22h<br />
<span id="pontilhadoAzul">................................</span> <strong><br />
Domingos e feriados</strong><br />
Lojas: 15h &agrave;s 21h<br />
Pra&ccedil;a de alimenta&ccedil;&atilde;o: 11h &agrave;s 22h </p>
    <p><br /></p>
    
  </div>
  
</div>
