<script>
/* #### funcoes utilzadas na busca do cep ### */
function buscaCEP(cep,nome,cpf,id_cliente){
	url = 'edita_responsavel.php?id_cli='+id_cliente+'';
	if(cep != "") url += '&cep=' +cep+''; 
	if(nome != "") url += '&nome='+nome+'';
	if(cpf != "") url += '&cpf='+cpf+'';
	window.location.href = url;
}
function carregando(){      
    document.getElementById('carregando').style.display='inline';
}
/* #############################################*/ 
</script>
<table align="left" cellpadding="0" cellspacing="0">
<tr>
    	<td>
    		<table cellpadding="0" cellspacing="0" border="0">

				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Editar respons&aacute;vel
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
    		</table>
    	</td>
    	<td colspan="2">&nbsp;
    
    	</td>
    </tr>
</table>
<br /><br /><br />
<form name="cadastro" action="##ACTION##" method="post" onSubmit="return validarResponsavelCarnaval()" >
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
    	##HIDDEN##
        ##HIDDEN2##
        <tr>
            <td>
                Nome:
            </td>
            <td>
            <input class="label" type="text" name="nome" size="73" maxlength="50" value="##NOME##"  />
            </td>
        </tr>
    <tr>
        	<td>CPF:</td>
        	<td> <input class="label" ##DISABLED## type="text" name="cpf" size="45" maxlength="14" value="##CPF##"  onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CPF',this,event);" /> 
         <!-- no site o top deve ser 10px; -->
          </td>
        </tr>
        <tr>
        	<td class="txtmusgo">Cep:</td>
            <td><input class="label" type="text" size="15" name="cep" value="##CEP##" maxlength="9" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('CEP',this,event);" onblur="javascript:carregando();buscaCEP(document.cadastro.cep.value,document.cadastro.nome.value,document.cadastro.cpf.value,document.cadastro.id_cliente.value);" ></td>
            <td>
                <div id="carregando" style="display:none;" ><img src="../../images/loading.gif" /></div>
            </td>
        </tr>      	
        <tr>
        	<td>Endere&ccedil;o:</td>
            <td><input class="label" type="text" size="63" name="endereco" value="##ENDERECO##" ></td>
        </tr>
        <tr>
        	<td>Bairro:</td>
            <td><input class="label" type="text" name="bairro" value="##BAIRRO##" ></td>
        </tr>
        <tr>
        	<td>Cidade:</td>
            <td><input class="label" type="text" size="63" name="cidade" value="##CIDADE##" ></td>
        </tr>
        <tr>
        	<td>Estado:</td>
            <td>##ESTADOS##</td>
        </tr>
        <tr>
        	<td>Email:</td>
        	<td> <input class="label" ##DISABLED## type="text" name="email" size="45" maxlength="50" value="##EMAIL##" />
         <!-- no site o top deve ser 10px; -->
         </td>
        </tr>
        <tr>
        	<td>Telefone:</td>
        	<td> <input class="label"  type="text" name="telefone" size="14" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('TEL',this,event);" value="##TELEFONE##"/>
         <!-- no site o top deve ser 10px; -->
         </td>
        </tr>
        <tr>
        	<td class="txtmusgo">Escolha o dia:</td>
            <td><input class="label" type="checkbox" value="2010-02-13" name="dia_1" ##DIA_1## />13/02/2010&nbsp;&nbsp;<input class="label" type="checkbox" value="2010-02-14" name="dia_2" ##DIA_2## />14/02/2010</td>
        </tr>
</table>
<br clear="all"/>
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
		<tr>
        	<td><br/></td>
        </tr>
		<tr>
        	<td class="txt_td" align="left"><b>Crian&ccedil;a</b></td>
        </tr>
        <tr>
        	<td>##CRIANCA##</td>
        </tr>
        <tr>
        	<td><br/></td>
        </tr>
        <tr>
        	<td colspan="2" align="center">
             <input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""  />
            </td>
        </tr>
</table>
</form >
