<table align="left" cellpadding="0" cellspacing="0">
<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="tit_canto" height="15">
							Editar Campanha
						</td>
						<td>
							<img style="position:relative;top:-3px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
						</td>
					</tr>
				</table>
			</td>
			<td >&nbsp;
		
			</td>
    	</tr>
</table>
<br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
	<form name="cadastro" action="##ACTION##" method="post">
    ##HIDDEN##
    ##HIDDEN_PROMOCAO##
   		
		<tr>
          	<td>
			Produtos:        
			</td>
        	<td>
			##PRODUTOS##
			</td>
		</tr>
        <tr>
        	<td>
            Vale compra:        
            </td>
            <td>
				<input class="label" type="text" name="valor" id="valor" value="##VALOR##" size="10" maxlength="10" onKeyPress="FormataValor(this.id, 10, event)" />
			</td>
      	</tr>
        <tr>
        	<td>
            Quantidade de Produtos:        
            </td>
            <td>
				<input class="label" type="text" name="quantidade" id="quantidade" value="##QUANTIDADE##" size="5" maxlength="10" onKeyPress="return digitos(event, this);" />
			</td>
      	</tr>
       
        <tr>
            <td colspan="4" align="right"><br />
				<input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""/>
            </td>
            
        </tr>
      </form>             
</table>
