<table align="left" cellpadding="0" cellspacing="0">
<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="tit_canto" height="15">
							Editar Troca
						</td>
						<td>
							<img style="position:relative;top:-3px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
						</td>
					</tr>
				</table>
			</td>
			<td >&nbsp;
		
			</td>
    	</tr>
</table>
<br /><br />
<table class="tabela_cadastro" align="left" cellpadding="0" cellspacing="0">
	<form name="cadastro" action="##ACTION##" method="post" >
    	##HIDDEN##
   		
		<tr>
          	<td>
			Cliente:        
			</td>
        	<td>
			<input class="label" type="text" name="nome" value="##NOME##" size="64" maxlength="50">        
			</td>
		</tr>
        <tr>
        	<td>
            Data:        
            </td>
            <td>
			<input class="label" type="text" name="data" value="##DATA##" maxlength="20" >        
			</td>
      	</tr>
        <tr>
        	<td colspan="2"><br />
				<table class="tabela_listagem" cellpadding="0" cellspacing="0">
					##DADOS_NOTAS##
				</table>
            </td>
            
      	</tr>
        <tr>
          	<td colspan="2">
			    <table class="tabela_listagem" cellpadding="0" cellspacing="0">
					##DADOS_PRODUTOS##
				</table> 
			</td>
		</tr>
        
        <tr>
            <td colspan="4" align="right"><br />
				<input class="botao_limpar" type="reset" name="limpar" value=""  />
                <input class="botao_ok" type="submit" name="submit" value=""/>
            </td>
            
        </tr>
      </form>             
</table>



