<table cellpadding="0" cellspacing="0" border="0" align="left">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Anivers&aacute;rio
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
</table>
<br><br>
<table cellpadding="0" cellspacing="0" border="0" align="left">
<form name="cadastro" action="ativa_aniversario.php" method="post">
	<input type="hidden"  name="submitado" value="submit"/>
    <!--<tr>
    	<td>Status:</td>
        <td>##STATUS##</td>
    </tr>-->
	<tr>
    	<td>Envio de email aniversário:</td>
        <td><input type="radio" name="opcao" ##CHECKEDATIVADO## value="Ativado"> Ativar</td>
        <td><input type="radio" name="opcao" ##CHECKEDDESATIVADO## value="Desativado"> Desativar</td
    ></tr>
    </tr>
   		<td colspan="4" align="right"><br /><input class="botao_ok" type="submit" name="submit" value=""/></td>
	</tr>
</form>
</table>