<table width="400"  border="0" cellspacing="0" cellpadding="0" >
	
	<tr height="20" bgcolor="#264369" class="titulobranco">
	  <td align="center" width="120" align="left">Nome</td>
	  <td align="center" width='203'>Atividade</td>
	  <td align="center" width="100" align="left">Localização</td>      
	</tr>
    
   ##CAMPOS##
</table>
