<table width="433" height="824" border="0" cellspacing="0" cellpadding="0" class="colright">
  <tr>
    <th width="190" height="90" align="left" valign="bottom" scope="col"><img src="images/tit_cinema.jpg" width="190" height="77"></th>
    <th align="center" valign="bottom" scope="col"><img src="images/titsub_cinema.jpg" width="182" height="50"></th>
  </tr>
  <tr>
    <td height="694" colspan="2">&nbsp;</td>
  </tr>
</table>

