<table width="400" border="0" cellspacing="0" cellpadding="0">
	<tr>
    <th width="190" height="60" align="left" valign="middle" scope="col">
		<div style="margin-top:60px"><img src="images/tit_aniversariantes.jpg"></div></th>
    <th align="right" valign="bottom" scope="col">&nbsp;</th>
  </tr>
<tr>			
  <td height="30" align="left" colspan="2" valign="bottom" class="txtmusgo">
    <div style="margin:10px 0 20px 20px;color:#006">Tudo bem <font style="font-weight:bold;color:#006;font-size:12px">##NOME##</font>, confira as promo&ccedil;&otilde;es especiais para o seu anivers&aacute;rio.</div>
  </td>
</tr>
</table>
<table>
##CONTEUDO##
</table>

