/* CSS Document */
body {
	margin: 0px;
	background-color:#9fb3b8;
	background:url(../images/bg.jpg);
	background-repeat:repeat-x;
	background-color:#9FB3B8;
	font-family:Arial, Helvetica, sans-serif;
}
/* Layout Natal */
/* Div Flutuante */
.minhaPop {
	border: 0;
	width: 200px;
	position:absolute;
	top: 20px;
	text-align: center;
	left: 600px;
}
div.login {
	margin-left:220px;
	_margin-left:200px;
	margin-bottom:7px;
	text-align:right;
	vertical-align:top;
}
span.login {
	vertical-align:middle;
	padding-top:4px;
	padding-right:12px;
	height:28px;
}
input.txt {
	color:#18474E;
	font-size:10px;
	width:95px;
	margin-top:3px;
}
input.btn {
	background:url(../images/bg_ok.gif);
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:7pt;
	border: 0px;
	width:28px;
	height:16px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
/*Continua*/
a:hover {
	text-decoration:underline;
}
.teste {
	background:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-color:#9FB3B8;
	text-align:center;
}
.colleft {
	background:url(../images/bg_colleft.jpg);
	background-repeat:no-repeat;
}
.colright {
	background:url(../images/bg_meio.jpg);
	background-repeat:no-repeat;
}
.boxbuscaup {
	background-image: url(../images/bg_buscaup.gif);
	background-repeat: no-repeat;
}
.boxbuscadown {
	padding-left: 45px;
	background-image: url(../images/bg_buscadown.gif);
	background-repeat: no-repeat;/*background-position: center top;*/
	/*vertical-align:top;*/
}
.boxnovo {
	background-image:url(../images/bg_novidades2.gif);
	background-image:no-repeat;
	background-position:left;
	background-position: top;
}
.boxnews_direita {
	background:url(../images/bg_novidades3.gif) no-repeat;
	background-position:left;
	background-position: top;
	height:153px;
}
.boxnews_esquerda {
	background:url(../images/fundo_novidades.gif) no-repeat;
	background-position:left;
	background-position: top;
	height:153px;
}
.imputbranco {
	color: #274468;
	font-size:11px;
	border: 0px;
}
.rodape {
	margin: 0 auto;
	background:url(../images/bg_rodape_pascoa_ovos.jpg) bottom;
	font-family:Arial, Helvetica, sans-serif;
}
.tdconteudo {
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
}
.txtmusgo {
	color:#18474E;
	font-size:10px;
	text-decoration:none;
}
.txtmusgo a:link {
	color:#09357d;
	text-decoration:none;
	font-weight:bold;
	text-decoration:none;
}
.txtmusgo a:visited {
	color:#17212d;
	text-decoration:none;
}
.txtmusgo a:hover {
	color:#233244;
	text-decoration:underline;
}
.txtmusgo a:active {
	color:#233244;
	text-decoration:none;
}
.subtitulomargin {
	margin-right:10px
}
.txtmusgo2 {
	color:#18474E;
	font-size:10px;
	height:20px
}
.txtmusgo2 a:link {
	color:#09357d;
	text-decoration:none;
	font-weight:bold;
	height:16px
}
.txtmusgo2 a:visited {
	color:#17212d;
	height:16px
}
.txtmusgo2 a:hover {
	color:#233244;
	text-decoration:underline;
	;
	height:16px
}
.txtmusgo2 a:active {
	color:#233244;
	height:16px
}
.txtmusgo3 {
	color:#FFFFFF;
	font-size:10px;
	height:20px
}
.txtmusgo3 a:link {
	color:#09357d;
	text-decoration:none;
	font-weight:bold;
	height:16px
}
.txtmusgo3 a:visited {
	color:#17212d;
	height:16px
}
.txtmusgo3 a:hover {
	color:#233244;
	text-decoration:underline;
	;
	height:16px
}
.txtmusgo3 a:active {
	color:#233244;
	height:16px
}
.txtmusgo4 {
	color:#18474E;
	font-size:9px;
	height:20px
}
.txtmusgo4 a:link {
	color:#09357d;
	text-decoration:none;
	font-weight:bold;
	height:16px
}
.txtmusgo4 a:visited {
	color:#17212d;
	height:16px
}
.txtmusgo4 a:hover {
	color:#233244;
	text-decoration:underline;
	;
	height:16px
}
.txtmusgo4 a:active {
	color:#233244;
	height:16px
}
.txtamarelo {
	color:#ffc90d;
	font-size:10px;
	font-weight:bold
}
.txtamarelo a:link {
	color:#ffc90d;
	text-decoration:none;
	font-weight:bold
}
.txtamarelo a:visited {
	color:#ffc90d;
}
.txtamarelo a:hover {
	color:#fff;
	text-decoration:underline;
}
.txtamarelo a:active {
	color:#ffc90d;
}
.txtbranco {
	color:#fff;
	font-size:10px;
	text-align:center
}
.txtbranco a:link {
	color:#fff;
	text-decoration:none;
	font-weight:bold
}
.txtbranco a:visited {
	color:#fff;
	font-weight:bold
}
.txtbranco a:hover {
	color:#ffc90d;
	text-decoration:underline;
	font-weight:bold
}
.txtbranco a:active {
	color:#ffc90d;
	font-weight:bold
}
.txt_textarea {
	color:#18474E;
	font-size:11px;
	text-decoration:none;
}
.tituloazul {
	font-size:12px;
	color:#274E8D;
	font-weight:bold
}
.titulobranco {
	font-size:12px;
	color:#ffffff;
	font-weight:bold
}
.bordaazul {
	border: 1px #274E8D solid;
}
.tit_destaque {
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.txt_destaque {
	color:#fff;
	font-size:10px;
}
.tit_novidade {
	color:#18474E;
	font-size:12px;
	font-weight:bold;
}
.txt_novidade {
	color:#18474E;
	font-size:10px;
}
.cor1 {
	background-color:#F0F7F9;
}
.cor2 {
	background-color:#D5E5EC;
}
.imagem {
	border: 2px solid #264369;
}
.fundo_azul {
	background-color:#264369;
}
.aviso {
	font-size:16px;
	color:#274E8D;
	font-weight:bold;
	text-align:center;
	padding: 10px 0 10px 0;
	border: 1px solid #274E8D;
	background-color:#F0F7F9;
}
.input-text-noborder {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	margin: 0px;
	padding: 0px;
}
img.novidadehome {
	margin-right:10px;
	margin-left:3px;
	margin-bottom:3px;
	_margin-bottom:0;
}
/*----------	PNG IE	----------*/
 * html img/**/ {
 filter:expression(  this.alphaxLoaded ? "" :
 (  this.src.substr(this.src.length-4)==".png"  ?  (  (!this.complete)  ? "" :
 this.runtimeStyle.filter=  ("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+this.src+"')")+  (this.onbeforeprint="this.runtimeStyle.filter='';this.src='"+this.src+"'").substr(0, 0)+  String(this.alphaxLoaded=true).substr(0, 0)+  (this.src="imagens_layout/blank.png").substr(0, 0)  )        :
 this.runtimeStyle.filter=""  )  );
}
