/* CSS Document */
body {
	margin: 0px auto;
	background:url(../images/bg_form_pascoa.jpg);
	font-family:Arial, Helvetica, sans-serif;
}
		div.formContato {
			width				: 250px;
		}
			.formContato .campos {
				margin				: 10px;
				width				: 250px;
				text-align			: right;
				color				: #84714f;	
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size			: 12px;
				border-top			: 1px #7B5504 solid;
			}
			.titCampos {
				margin				: 10px 5px;
				width				: 250px;
				text-align			: left;
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-weight			: bold;
				font-size			: 14px;
				color				: #84714f;
			}
			.formContato input.campo {
				background			: url(../images/bg_form_pascoa_campos.jpg) repeat-x bottom;
				border-top			: #84714f 1px solid;
				border-bottom		: #84714f 1px solid;
				border-left			: #af9e80 1px solid;
				border-rigth		: #af9e80 1px solid;
				color				: #84714f;	
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size			: 10px;
				width				: 240px;
				padding-left		: 5px;
			}
			.formContato label {
				color				: #84714f;	
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size			: 12px;
				font-weight			: bold;
				float				: left;
				text-align			: left;
			}
			input {
				background			: url(../images/bg_form_pascoa_campos.jpg) repeat-x bottom;
				border-top			: #84714f 1px solid;
				border-bottom		: #84714f 1px solid;
				border-left			: #af9e80 1px solid;
				border-rigth		: #af9e80 1px solid;
				color				: #84714f;	
				font-size			: 10px;
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				margin:10px;
			}
			.formContato textarea {
				background			: url(../images/bg_form_pascoa_campos.jpg) repeat-x bottom;
				border-top			: #84714f 1px solid;
				border-bottom		: #84714f 1px solid;
				border-left			: #af9e80 1px solid;
				border-rigth		: #af9e80 1px solid;
				color				: #84714f;	
				font-family			: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size			: 10px;
				width				: 240px;
				padding-left		: 5px;
				overflow			: auto;
			}

/*----------	PNG IE	----------*/
 * html img/**/ {
 filter:expression(  this.alphaxLoaded ? "" :
 (  this.src.substr(this.src.length-4)==".png"  ?  (  (!this.complete)  ? "" :
 this.runtimeStyle.filter=  ("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+this.src+"')")+  (this.onbeforeprint="this.runtimeStyle.filter='';this.src='"+this.src+"'").substr(0, 0)+  String(this.alphaxLoaded=true).substr(0, 0)+  (this.src="imagens_layout/blank.png").substr(0, 0)  )        :
 this.runtimeStyle.filter=""  )  );
}
