<tr>
	<th width="190" height="130" align="left" valign="bottom" scope="col"><img src="images/tit_sac.jpg" width="220" height="77"></th>
	<th align="right" valign="bottom" scope="col">&nbsp;</th>
</tr>
<tr>
   <td colspan="2" valign="top" class="txtmusgo tdconteudo" >
	
		<table style="margin-left:2px;width:100%;" align="left" border="0" cellspacing="1" cellpadding="0" >
        <tr>
        	<td class="tituloazul">
            	##TIT_AREAS##
            </td>
        	<td style="padding-left:10px;" class="txtmusgo">
            	##AREAS##
            </td>
        </tr>
            
        <tr>
        	<td class="tituloazul">
            	##TIT_LOJAS##
            </td>
        	<td style="padding-left:10px;" class="txtmusgo">
            	##LOJAS##
            </td>
        </tr>
        <tr>
            <td class="tituloazul">
                ##TIT_ASSUNTO##
            </td>
            <td style="padding-left:10px;" class="txtmusgo">
                ##ASSUNTO##
            </td>
        </tr>
        <tr>
            <td class="tituloazul">
                ##TIT_NOTA##
            </td>
            <td style="padding-left:10px;" class="txtmusgo">
                ##NOTA_FISCAL##
            </td>
        </tr>
        <tr>
            <td class="tituloazul">
                ##TIT_FUNCIONARIO##
            </td>
            <td style="padding-left:10px;" class="txtmusgo">
                ##NOME_FUNCIONARIO##
            </td>
        </tr>	
       	<tr>
            <td class="tituloazul">
                ##TIT_DESCRICAO##
            </td>
            <td style="padding-left:10px;" class="txtmusgo">
                ##DESCRICAO## <br />
            </td>
        </tr>
        <tr>
          <td class="tituloazul"><br />
          <form action="##ACTION##" name="resposta" method="post" >
            ##HIDDEN_CHAMADO##        ##HIDDEN_CLIENTE_ID##
            Comentário: 
          </td>
          <td><br />
            <textarea class="txt_textarea cor1" style="margin-left:10px;border: 1px solid #274468; width:300px;" name="comentario" rows="5" cols="35" ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            
          </td>
          <td>
            <input style="margin-left:10px;" class="imputbranco" type="submit" name="submit" value="Enviar" /><br />
            </form><br />
          </td>
        </tr>
        <tr>
            <td colspan="2" >
            <div style="overflow:auto;width:100%; height:420px;"> 
            <p> ##LOGS## </p>
            </div>
            </td>
        </tr>
   		</table>
	</td>
</tr>    	
