<form name="editar" enctype="multipart/form-data" action="##ACTION##" method="post" onsubmit="return validarBanneAchados()">
<table cellpadding="0" cellspacing="0" border="0" align="left">
				<tr><td colspan="2"></td></tr>
    			<tr>
    				<td class="tit_canto" height="15">
        				Editar Banner Achados Imperdíveis
					</td>
        			<td >
        				<img style="position:relative;top:-4px;_top:0;" src="../../imagens_layout/tit_canto.jpg"  />
        			</td>
    			</tr>
</table>
<br><br>
<table class="tabela_cadastro" cellpadding="0" cellspacing="0" border="0" align="left">
	<tr>
    	<td>Loja:</td>
        <td>##LOJAS##</td>
	</tr>
    <tr>
    	<td>Produto:</td>
    	<td><input class="label" type="text" name="nomeProduto" value="##PRODUTO##"></td>
    </tr>
    <tr>
    	<td>Foto do produto:</td>
        <td>##UPLOAD_FOTO##(146 x 176)</td>
    </tr>
    <!--<tr>
    	<td>Pre&ccedil;o R$:</td>
        <td><input class="label" type="text" name="precoProduto" value="##PRECO##" onKeyPress="return(formataMoeda(this,'','.',event));"></td>
    </tr>-->
    <tr>
    	<td>Pre&ccedil;o R$:</td>
        <td><input class="label" type="text" name="precoProduto" value="##PRECO##"></td>
    </tr>
    <!--<tr>
    	<td>Link:</td>
    	<td><input class="label" type="text" name="nomeLink" value="##LINK##"></td>
    </tr>-->     
		<td colspan="4" align="right"><br />
			<input class="botao_limpar" type="reset" name="limpar" value=""  />
			<input class="botao_ok" type="submit" name="submit" value=""/>
        </td>
	</tr>
</table>
</form>
<div style="float:left;background-color:#FFF;width:auto;margin:0 0 0 30px;">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
		<tr>
        	<td align="center">Foto Atual do produto:</td>
        </tr>
        <tr>
        	<td></br></td>
        </tr>
		<tr>
        	<td align="center">##FOTOPRODUTO##</td>
        </tr>
</table>
</div>