<table align="left" cellpadding="0" cellspacing="0" border="0" >	
	<tr><td colspan="4"></td></tr>	
	<tr>
    	<td class="tit_canto" height="15" align="left" >
        	Banner Vitrine
		</td>
        <td valign="top">
        	<img  src="../../imagens_layout/tit_canto.jpg"  />
            <a href="cadastro_banner_vitrine.php">
            <img src="../../imagens_layout/btn_adicionar_p.jpg" border="0" /> Adicionar Banner
            </a>
        </td>
    </tr>
</table>
<br /><br /><br />
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0" border="1">
##CAMPOS##
</table>