<table align="left" cellpadding="0" cellspacing="0" border="0">
	<tr><td colspan="4"></td></tr>
	<tr>
    	<td class="tit_canto" height="15" align="left" >
        	Banner Pop up
		</td>
        <td valign="top">
        	<img  src="../../imagens_layout/tit_canto.jpg"  />
        </td>
		 <td>
        	&nbsp;&nbsp;
            <!--<img src="../imagens_layout/separador_listagem.jpg" border="0" />-->
            &nbsp;&nbsp;
        </td>
		<td>
            <a href="cadastro_banner_pop_up.php">
            <img src="../../imagens_layout/btn_adicionar_p.jpg" border="0" /> Adicionar Banner
            </a>
        </td>
    </tr>
   	
</table>
<br /><br />
<div style='text-align:right;padding-right:20px;'>##PAGINACAO##</div>
<table class="tabela_listagem" align="center" cellpadding="0" cellspacing="0">
	
	<tr class='tr_tit txt_tit'>
	  <td class="td_tit" nowrap="nowrap">nome</td>
	  <td class="td_tit" >Data de entrada</td>
	  <td class="td_tit" >Data de Sa&iacute;da</td>   
      <td class="td_tit" style="width:50px;text-align:center;" >Status</td> 
	  <td class="td_tit" align="center" >A&ccedil;&atilde;o</td>
	</tr>
	    
   ##CAMPOS##
   
   <tr height="5"><td colspan='6' ></td></tr>
</table>
 <div style='text-align:right;padding-right:20px;'>##PAGINACAO##</div>

