<table cellpadding="0" cellspacing="0" border="0"> 
<tr>
  <td width="190" height="30" align="center" valign="middle" class="txtmusgo">
    <a href="eventos.php">Planetário</a>
     | 
    <a href="eventos2.php" target="_self">Musica a La Carte</a>  </td>
</tr>
<tr>
  <td valign="top" class="txtmusgo tdconteudo">
    <p class="horarios"><span class="tituloazul">Musica a La Carte</span></p></br>
    <p class="horarios"><img src="images/alacarte.jpg" width="410" height="238"/></p>
    </br>
    <iframe src="http://www.clicksoft.com.br/projeto/taboao2/includes/templates/eventos_alacarte.html" width="410" height="300" frameborder="0"></iframe></td>
</tr>
</table>
