<div id="conteudo">
   <div id="COL_CEN"> 
    <div id="busca_loja_pagina">
        <h1>Busca de lojas</h1>
        <h2><a href="#" onclick="history.back()"><img src="../images/bt_voltar.png" border="0"/></a></h2>
    <span>
    <table align="center" cellpadding="5" cellspacing="5" width="488" >
   	<tr>
	  <td colspan="3" style="height:20px;;">
	    ##NOME## 
	    </td>
	  </tr>
	<tr>
    <td colspan="3">
     <table>
     <tr>
	    <td colspan="2"  width="135" style="height:117px;">##LOGO##</td>
	    <td width="327" style="height:117px;">##FOTO##</td>
     </tr>
     </table>
    </td>
	</tr>
    <tr>
    <td colspan="3" style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td width="71" style="height:20px;">Site:</td>
        <td width="238" style="height:20px;">##SITE##</td>
        <td style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="height:20px;">Email:</td>
        <td style="height:20px;">##EMAIL##</td>
        <td style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
    	<td style="height:20px;">Local:</td>
    	<td style="height:20px;">##LOCALIZACAO##</td>
    	<td style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
    	<td style="height:20px;">Telefone:</td>
    	<td style="height:20px;">##TELEFONE##</td>
    	<td style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
    	<td style="height:auto;" valign="top">Atividade:</td>
    	<td style="height:auto;" valign="top">##ATIVIDADE##</td>
    	<td style="height:auto;" valign="top">&nbsp;</td>
    </tr>
    </table>
    </span>
	</div>
</div>
 </div>
