<!--
*Ultima modificação: 15/10/2014
*Sthuarty Gonzaga
*sthuarty.gonzaga@clicksoft.com.br
 -->

<!-- DUAS NOVIDADES! -->

<style type="text/css"> 
a:link 
{ 
 text-decoration:none; 
} 
</style>
<div id="COL_CEN">
    <div id="novidades-exibicao">
        <div id="novidades-titulo"><h1>Novidades</h1></div>
        <!--<div id="novidades-conteudos">##NOVIDADES##-->
        <div style="background: none repeat scroll 0 0 #EEEEEE;box-shadow: 3px -2px 41px #C1C1C1;height: 390px;overflow: hidden;padding: 25px 0 0 25px;position: relative;width: 660px;">
          
          <!--PRIMEIRA NOVIDADE-->
          <a href="/novidades.php?id_novidade=250"> <!-- 1ª IMAGEM - SÓ ALTERAR O "SRC" -->
            <img class="image-nov" src="/images/novidades/251.png" style="width: 211px;height: 99;margin-left: 0px;margin-top: 0px;float: left;position: absolute;">
          </a>
          <a href="/novidades.php?id_novidade=250"> <!-- 1ª TEXTO - SÓ ALTERAR A DESCRIÇÃO -->
          <p style="color: #2E3192;font-family: arial;font-size: 19px;font-weight: 100;text-decoration: none; margin-top: 40px;margin-left: 258px;">Silhuetas da Moda</p>
          </a>

          <!--SEGUNDA NOVIDADE-->
          <a href="/novidades.php?id_novidade=253"> <!-- 2ª IMAGEM - SÓ ALTERAR O "SRC" -->
            <img class="image-nov" src="/images/novidades/253_mini.jpg" style="width: 211px;height: 99;margin-top: 65px;position: absolute;">
          </a>
          <a href="/novidades.php?id_novidade=253"> <!-- 2ª TEXTO - SÓ ALTERAR A DESCRIÇÃO -->
            <p style="color: #2E3192;font-family: arial;font-size: 19px;font-weight: 100;text-decoration: none; margin-top: 100px;margin-left: 258px;">Linha Capricho de O Botic&aacute;rio</p>
          </a>

          <!--TERCEIRA NOVIDADE-->
          <a href="/novidades.php?id_novidade=254"> <!-- 3ª IMAGEM - SÓ ALTERAR O "SRC" -->
            <img class="image-nov" src="/images/novidades/254_mini.jpg" style="width: 211px;height: 99;margin-top: 75px;position: absolute;">
          </a>
          <a href="/novidades.php?id_novidade=254"> <!-- 3ª TEXTO - SÓ ALTERAR A DESCRIÇÃO -->
            <p style="color: #2E3192;font-family: arial;font-size: 19px;font-weight: 100;text-decoration: none; margin-top: 110px;margin-left: 258px;">Chegada do Papai Noel</p>
          </a>


        </div>
        <div id="novidades-vermais"><a href="##LINK_NOVIDADE##"> >> Saiba Mais </a></div>
    </div>
    <div id="novidades">
    <div id="topo_novidades"><h1>Sustentabilidade</h1></div>
    ##SUSTENTABILIDADE##
    </div>
    <div id="novidades">
    <div id="topo_novidades"><h1>Vitrine</h1></div>

    ##VITRINES##
    </div>
    <!-- <div id="home_shopping">
    <img src="images/titulo-shopping.png" border="0" />
    <br />
    <br />
    O <strong>Passeio Shopping</strong> é um empreendimento de característica singular. Localizado no coração de um dos maiores centros comerciais do Rio de Janeiro, o calçadão de Campo Grande, famoso pólo comercial onde estão concentrados grandes operadores do varejo que atraem 3 milhões de pessoas por mês.
    <br />
    <br />
    Fundado no ano 2000 em uma parceria entre a Construtora Santa Isabel e a Administradora Aliansce Shopping Centers, o shopping, que recebe uma média de 800.000 pessoas por mês, se destaca pelo seu mix de lojas, que atendem a clientes das classes B e C.<br />
    <span><a href="shopping.php" class="veja-mais-shopping">Veja mais</a></span>
    <br />
    <br />
    </div> -->
    <br clear="all" />
<div id="midias_box">
<div id="twitter_box">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 6000,
  width: 359,
  height: 215,
  theme: {
    shell: {
      background: '#e7e7e7',
      color: '#767676'
    },
    tweets: {
      background: '#ededed',
      color: '#767676',
      links: '#2E3192'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('PasseioShopping').start();
</script>
</div>
<div id="face_box">
<div id="face_box_int">
<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 220px; height: 340px; " src="http://www.facebook.com/plugins/likebox.php?id=108569729197902&amp;width=240&amp;connections=12&amp;stream=false&amp;header=false&amp;height=307"></iframe>
</div>
</div>
</div>
  <br />
   <br /> 
  </div>
